.cards {
  width: 1120px;
  margin: 30px auto;
  position: relative;
}
.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--background-color);
  position: relative;
}

.cards .cards-card-body {
  position: absolute;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 20px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.cards .cards-card-cta{
  position: absolute;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

