
.cards-wrapper {
  width: 1120px;
  margin: 20px auto;
}

.cover-style > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-columns: minmax(200px, 1fr);
  grid-auto-flow: column;
  gap: 24px;
}

.cover-style > ul > li {
  width: 100%;
  height: 250px;
  min-height: 250px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--background-color);
  position: relative;

}

.cover-style .cards-card-body {
  position: absolute;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
  font-size: 20px;
}

.cover-style .cards-card-image {
  line-height: 0;
}

.cover-style > ul > li img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.cover-style .cards-card-cta{
  display: none;

}


.center-style > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-columns: minmax(200px, 1fr);
  grid-auto-flow: column;
  gap: 24px;
}

.center-style > ul > li {
  background-color: var(--color-hisense-green-04);
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  padding: 40.5px 0 24px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.center-style .cards-card-body {
  width: 100%;
  text-align: center;
  top: 40px;
  font-size: 24px;
  color: #000;
  
}

.center-style p{
  margin: 0;
}

.center-style .cards-card-image {
  margin: 35.5px 0 21px;
}




.center-style > ul > li img {
  width: 174px;
  object-fit: contain;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);
}

.center-style > ul > li:hover img {
 transform: scale(1.1) translateY(-3px);
 
}

.center-style > ul > li .cards-card-cta a.button:any-link,
.center-style button{
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Hisense Sans Alfabet', sans-serif;
  font-size: 12px;
  width: 128px;
  color: #fff !important;
    background-color: #00AAA6 !important;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: bottom cubic-bezier(0.35, 0, 0.36, 1) .5s, opacity linear .5s, visibility linear .5s;
    transition: bottom cubic-bezier(0.35, 0, 0.36, 1) .5s, opacity linear .5s, visibility linear .5s;

}

.center-style > ul > li:hover .cards-card-cta .button-container{
  opacity: 1;
  visibility: visible;
  bottom: 16px;
    
 
  
}


