.support-module-title.block {
  font-family: var(--font-family);
  margin-bottom: var(--spacing-1-xl, 32px);

  @media (width < 640px) {
    margin-bottom: var(--spacing-l, 24px);
  }

  .text-center {
    text-align: center;
  }

  .support-module-title-title {
    margin: 0;
    font-size: var(--heading-l-font-size, 34px);
    font-weight: var(--fontweight-medium);
    line-height: var(--heading-l-line-height, 40px);
    text-transform: capitalize;
    color: var(--text-black-title, #000);

    @media (width < 640px) {
      font-size: var(--heading-l-font-size, 24px);
      line-height: var(--heading-l-line-height, 36px);
    }
  }

  .support-module-title-subtitle {
    margin-top: var(--spacing-m, 16px);
    margin-bottom: 0;
    font-size: var(--body-font-size, 14px);
    color: var(--color-primary-grey-70, #333);
    font-weight: var(--fontweight-book, 400);
    line-height: var(--body-line-height, 21px);
    font-family: var(--font-family);
  }
}
