.strategic-card-items-wrapper {
  width: 100%;
}

.strategic-card-items {
  .card-container {
    display: flex;
    align-items: center;
    gap: var(--size-24, 24px);

    &.small-gap {
      gap: var(--size-16, 16px);
    }
  }

  .strategic-card-item {
    display: flex;
    flex: 1;
    width: min(calc(173/var(--breakpoint-pc)*100vw),173px);
    height: stretch;
    padding: var(--size-24) var(--size-24) var(--size-32) var(--size-24);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--size-12);
    border-radius: var(--radius-pc-xl, 20px);
    background: var(--color-primary-green-10, #EDFCFB);
    backdrop-filter: blur(calc(var(--szie-40) / 2));


    .card-icon {
      width: var(--size-80);
      height: var(--size-80);

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .card-text {
      flex: 1;
      color: var(--color-primary-grey-90);
      text-align: center;
      font-size: var(--size-16);
      font-weight: var(--fontweight-medium);
      line-height: 120%; /* 28.8px */
      text-transform: capitalize;
      word-break: keep-all;
      hyphens: none;

      &::first-letter {
        text-transform: uppercase;
        color: var(--color-primary-green-50);
        font-size: var(--size-24);
      }
    }
  }

  .card-description {
    font-size: var(--size-14);
    font-weight: var(--fontweight-book);
    line-height: 150%;
    text-align: center;
    color: var(--color-primary-grey-70);
    margin-top: var(--size-12);
  }

  .card-btn {
    margin-top: var(--size-12);

    .btn-label {
      display: inline-block;
      padding: 0 var(--size-16);
      height: var(--size-30);
      line-height: var(--size-30);
      background-color: var(--color-primary-green-60);
      color: #fff;
      font-size: var(--size-14);
      font-weight: var(--fontweight-medium);
      border-radius: var(--size-100);
      text-align: center;
      cursor: pointer;

      p {
        line-height: unset;
      }

      &:hover {
        background-color: var(--color-primary-green-40);
      }

      &:active {
        background-color: var(--color-primary-green-70);
        color: var(--white-alpha-80);
      }
    }

    .btn-popup-id {
      display: none;
    }
  }
}

@media (width < 860px) {
  .strategic-card-items {
    .card-container {
      gap: var(--size-16);
      padding: 0 var(--common-padding);
      margin: 0 calc(-1 * var(--common-padding));
      overflow-x: scroll;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-snap-type: x mandatory; /* 强制水平吸附 */
      scroll-behavior: smooth;
    }

    .strategic-card-item {
      flex: none;
      width: calc(240/var(--breakpoint-mobile)*100vw);
      padding: var(--size-24) var(--size-24) var(--size-32) var(--size-24);
      flex-shrink: 0;
      gap: var(--size-32);
      border-radius: var(--radius-xl, 16px);

      .card-icon {
        width: var(--size-80);
        height: var(--size-80);

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .card-text {
        width: 100%;
        line-height: 130%;
        font-size: var(--size-20);
        text-transform: capitalize;

        &::first-letter {
          font-size: var(--size-24);
        }
      }

      .card-description,.card-btn {
        margin-top: 0;
      }

      .btn-cta {
        .btn-label {
          padding: 0 var(--size-24);
          height: var(--size-40);
          line-height: var(--size-40);
        }
      }
    }
  }
}