.popup-title-wrapper {
  text-align: center;
  &.text-left {
    text-align: left;
  }
  .p-title {
    font-size: var(--size-16);
    font-weight: var(--fontweight-medium);
    line-height: var(--size-24);
    color: var(--color-primary-green-60);
    margin-bottom: var(--size-8);
  }

  .p-subtitle {
    font-size: var(--size-30);
    font-weight: var(--fontweight-medium);
    color: var(--color-primary-grey-100);
    margin-bottom: var(--size-20);
    line-height: var(--size-36);
  }

  .p-text {
    font-size: var(--size-16);
    font-weight: var(--fontweight-book);
    color: var(--color-primary-grey-80);
    line-height: var(--size-24);
  }
}
@media (width < 860px) {
  .popup-title-wrapper {
    .p-title {
      font-size: var(--size-16);
      margin-bottom: var(--size-4);
    }

    .p-subtitle {
      font-size: var(--size-24);
    }

    .p-text {
      font-size: var(--size-14);
    }
  }
}