.bi-directional-content-wrapper {
  @media (width < 860px) {
    width: 100%;
  }
}

.bi-directional-content-wrapper p {
  margin: 0;
  padding: 0;
}

.bi-directional-content-wrapper .title div {
  display: flex;
  flex-direction: column-reverse;
  padding: var(--large) var(--medium);
  margin: auto;
  width: min(51.38888vw, 740px);
  color: var(--color-primary-green-60);
  font-family: var(--font-family);
  text-align: center;

  @media (width < 860px) {
    width: 100%;
  }
}

.bi-directional-content-wrapper .title div p:first-child {
  font-size: var(--fontsize-pc-h4);
  margin-top: var(--fontsize-pc-h4);
  font-weight: var(--fontweight-medium);

  @media (width < 860px) {
    font-size: var(--size-14);
    margin-top: var(--size-16);
  }
}

.bi-directional-content-wrapper .title div p:nth-child(2) {
  font-size: var(--fontsize-pc-h4);

  @media (width < 860px) {
    font-size: var(--size-14);
  }
}

.bi-directional-content .card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--medium);
  margin: var(--large) 0;

  @media (width < 860px) {
    margin: var(--large) var(--size-18);
  }
}

.bi-directional-content .card-list .card-item {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: var(--size-24);

  @media (width < 860px) {
    flex-direction: column;
    gap: 0;
  }
}

.bi-directional-content .card-list .card-item:nth-child(odd) {
  flex-direction: row-reverse;

  @media (width < 860px) {
    flex-direction: column;
  }
}

.bi-directional-content .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-m, 32px);
  align-items: center;
  width: min(45.25545%, 496px);
  border-radius: var(--radius-xl);
  overflow: hidden;
  font-family: var(--font-family);
  margin: 0;
  padding: var(--size-48) var(--spacing-lg);

  @media (width < 860px) {
    width: 100%;
    border-radius: 0 0 var(--fontsize-body1) var(--fontsize-body1);
    padding: var(--spacing-m) var(--spacing-sm) var(--spacing-xl);
  }
}

.bi-directional-content .card-body p:first-child {
  font-weight: var(--fontweight-medium);
  font-size: var(--fontsize-pc-h3);
  margin-bottom: var(--spacing-xs);
  text-transform: capitalize;

  @media (width < 860px) {
    font-size: var(--size-30);
    margin-bottom: var(--spacing-2xs);
  }
}

.bi-directional-content .card-body p:nth-child(2) {
  font-weight: var(--fontweight-book);
  font-size: var(--fontsize-body1);

  @media (width < 860px) {
    font-size: var(--size-16);
  }
}

.bi-directional-content .green20 {
  background: var(--color-primary-green-20);
}

.bi-directional-content .green20 p:first-child {
  color: var(--color-hisense-black);
}

.bi-directional-content .green20 p:nth-child(2) {
  color: var(--color-primary-grey-70);
}

.bi-directional-content .transparent-dark {
  background: transparent;
}

.bi-directional-content .transparent-dark p:first-child {
  color: var(--color-primary-grey-10, #fff);
}

.bi-directional-content .transparent-dark p:nth-child(2) {
  color: var(--color-primary-grey-20, #f7f7f7);
}

.bi-directional-content .transparent-light {
  background: transparent;
}

.bi-directional-content .transparent-light p:first-child {
  color: var(--color-hisense-black, #000);
}

.bi-directional-content .transparent-light p:nth-child(2) {
  color: var(--color-primary-grey-70, #333);
}

.bi-directional-content .card-image {
  border-radius: var(--radius-xl);
  width: min(54.7445%, 600px);
  aspect-ratio: 600 / 360;
  transition:
    transform 0.5s cubic-bezier(0.35, 0, 0.36, 1),
    -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.36, 1);
  overflow: hidden;

  @media (width < 860px) {
    border-radius: var(--fontsize-body1) var(--fontsize-body1) 0 0;
    width: 100%;
    aspect-ratio: 354 / 246;
    margin: auto;
  }
}

.bi-directional-content .card-image img {
  width: 100%;
  height: 100%;
}

.bi-directional-content .bottom-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-xs, 16px);

  .buy-now {
    cursor: pointer;
    background-color: var(--color-primary-green-60, #008482);
    padding: var(--size-4) var(--size-32);
    border-radius: var(--size-100);
    height: var(--size-50);
    color: var(--Greyscale-Gray-10, #fff);
    text-align: center;
    font-size: var(--fontsize-body2, 14px);
    font-style: normal;
    font-weight: var(--fontweight-medium, 500);
    line-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (width<860px) {
      height: var(--size-40);
    }
  }

  .download {
    width: var(--size-50);
    height: var(--size-50);
    cursor: pointer;

    @media (width<860px) {
      width: var(--size-40);
      height: var(--size-40);
    }
  }
}
