/* pdp-product-info */

.pdp-info {
  flex: 1;
  min-width: 300px;
  align-self: center;
}

.pdp-favorite {
  margin-bottom: 20px;
  cursor: pointer;
}

.pdp-series {
  height: 28px;
  line-height: 28px;
  color: rgba(0, 159, 156, 1);
  font-size: 20px;
  font-weight: 400;
}
.pdp-title {
  height: 44px;
  line-height: 44px;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 12px;
}

.pdp-sizes {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.pdp-size {
  padding: 0 8px;
  height: 25px;
  border: 1px solid rgba(204, 204, 204, 1);
  color: rgba(102, 102, 102, 1);
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.pdp-size.selected {
  border-color: rgba(51, 51, 51, 1);
  color: rgba(51, 51, 51, 1);
}

.pdp-badges {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}
.pdp-badge {
  width: auto;
  min-width: 5px;
  height: 25px;
  background: red; /* 标签占位 */
}
.pdp-badge img {
  height: 100%;
  display: block;
}
.pdp-buy-btn {
  height: 42px;
  padding: 0 24px;
  border: 1px solid #000;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 21px;
  margin-bottom: 16px;
}
.pdp-specs-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: #000;
  font-size: 15px;
  cursor: pointer;
}
.pdp-specs-btn img {
  width: 18px;
  height: 18px;
}
.pdp-specs-btn span {
  height: 18px;
  line-height: 18px;
}

 