/* pdp-product-info */
main .section.product-detail-banner-container.pdp-product-info-container {
  display: flex;
  padding: 0 24px;
  margin: 100px auto;
  box-sizing: border-box;
  gap: 82px;
}

main .section.product-detail-banner-container.pdp-product-info-container .product-detail-banner-wrapper {
  padding: 0;
}

main .section.product-detail-banner-container.pdp-product-info-container .pdp-product-info-wrapper {
  flex: 1;
  padding: 0;
  margin: 0;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pdp-info {
  flex: 1;
  min-width: 300px;
  align-self: center;
}

.pdp-favorite {
  margin-bottom: 20px;
  cursor: pointer;
  display: none;
}

.pdp-favorite img {
  height: 20px;
  width: auto;
}

.pdp-series {
  height: 28px;
  line-height: 28px;
  color: rgb(0 159 156 / 100%);
  font-size: 20px;
  font-weight: 400;
}

.pdp-title {
  line-height: 44px;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 12px;
}

.pdp-sizes {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.pdp-size {
  padding: 0 8px;
  height: 25px;
  border: 1px solid rgb(204 204 204 / 100%);
  color: rgb(102 102 102 / 100%);
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pdp-size.selected {
  border-color: rgb(51 51 51 / 100%);
  color: rgb(51 51 51 / 100%);
}

.pdp-badges {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
}

.pdp-badge {
  width: auto;
  min-width: 5px;
  height: 25px;
}

.pdp-badge img {
  height: 100%;
  display: block;
}

.pdp-buy-btn {
  height: 42px;
  padding: 0 24px;
  border: 1px solid #000;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 21px;
  margin-bottom: 16px;
  color: #000;
}

.pdp-buy-btn:hover {
  background: #333;
  border-color: #666;
  color: #fff;
}

.pdp-buy-btn:active {
  background: #000;
  border-color: #000;
  color: #fff;
}

.pdp-specs-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  color: #000;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
}

.pdp-specs-btn:hover {
  background: transparent;
}

.pdp-specs-btn img {
  width: 18px;
  height: 18px;
}

.pdp-specs-btn span {
  height: 18px;
  line-height: 18px;
}

 