.legal-content {
  div[data-aue-type="richtext"] a:any-link {
    color: var(--color-primary-green-60);
    text-decoration: underline;
  }

  p:not(.button-container) > a {
    color: var(--color-primary-green-60);
    text-decoration: underline;
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
  }

  p:has(+ p),
  p:has(+ ul),
  p:has(+ ol) {
    margin-bottom: var(--size-24);
  }

  p:has(+ h5),
  h5:has(+ p) {
    margin-bottom: var(--size-32);
  }
}