.legal-content-wrapper {
  @media (width > 860px) {
    padding: 0 !important;
  }

  .legal-content {
    p, ul, ol, li {
      margin: 0;
      padding: 0;
      color: var(--color-primary-grey-70);
      font-weight: var(--fontweight-book);
    }
  
    a {
      color: var(--color-primary-green-60);
      text-decoration: underline;
    }
  
    /* reset a.button style */
    a.button:any-link {
      color: var(--color-primary-green-60);
      text-decoration: underline;
      margin: 0;
      border: none;
      background-color: transparent;
      white-space: unset;
      line-height: unset;
      padding: 0;
      border-radius: 0;
      text-align: left;
      font-weight: unset;
    }
  
    ol {
      display: flex;
      flex-direction: column;
      gap: var(--size-24);
      padding-left: 20px;
    }

    ul {
      padding-left: 20px;
    }

    strong, h5 {
      font-weight: var(--fontweight-medium);
    }

    h5 {
      font-size: var(--size-20);
      color: var(--color-hisense-black);
      margin: 0;
      padding: 0;
    }

    /* 受reset-richtext.css样式污染 */
    ul li {
      list-style: initial;
    }

    ol li{
      list-style: auto;
    }
  }
}