@import url('../../styles/reset-rich-text.css');

.feaaturebanner-container .feaaturebanner-wrapper {
  width: 100%;
}

.feature-banner-container .feature-banner-wrapper {
  width: 100%;
  min-height: min(calc(810 / var(--breakpoint-pc) * 100vw), 810px);
  display: flex;
  padding-top: var(--size-120) !important;
  margin: 0 auto;
  position: relative;
}

.feature-banner {
  height: 100%;
  color: #fff;

  &::after {
    content: '';
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    
    /* background: linear-gradient(to right, rgb(0 0 0 / 60%), rgb(0 0 0 / 0%)); */
 }

  picture {
    position: absolute;
    z-index: 2;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  h1+p,
  h2+p,
  h3+p,
  h4+p,
  h5+p,
  h6+p, h1~ p, h2 ~p, h3~p, h4~p, h5~p, h6~p {
    /* width: min(calc(402 / var(--breakpoint-pc) * 100vw), 402px); */
    width: 402px;
    margin: 0;
    position: relative;
    z-index: 6;
    font-size: var(--size-16);
    font-weight: var(--fontweight-light);
    color: var(--color-primary-grey-20);
    line-height: var(--size-24);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    width: min(calc(402 / var(--breakpoint-pc) * 100vw), 402px);
    font-size: var(--size-40);
    margin: 0;
    line-height: var(--size-48);
    position: relative;
    z-index: 6;
  }

   h1:last-of-type, h2:last-of-type, h3:last-of-type, h4:last-of-type, h5:last-of-type, h6:last-of-type {
    margin-bottom: var(--size-16);
   }

  [data-aue-prop="feature-banner_text"] h6,p:first-child + h1, p:first-child + h2, p:first-child + h3, p:first-child + h4, p:first-child + h5, p:first-child + h6, p:first-child + p {
    width: min(calc(402 / var(--breakpoint-pc) * 100vw), 402px);
    color: var(--color-primary-green-50);
    margin-bottom: var(--size-8);
    line-height: var(--size-24);
    font-size: min(calc(20 / var(--breakpoint-pc) * 100vw), 20px);
    position: relative;
    z-index: 6;
  }

  [data-aue-prop="feature-banner_tips"] {
    position: absolute;
    bottom: min(calc(42 / var(--breakpoint-pc) * 100vw), 42px);
    left: min(calc(160 / var(--breakpoint-pc) * 100vw), 160px);
    font-size: min(calc(10 / var(--breakpoint-pc) * 100vw), 10px);
    color: #666;
    z-index: 6;
  }

  .feature-mobile-img {
    img {
      display: none;
    }
  }
  
}

.feature-banner-wrapper + .icon-container-wrapper, .feature-banner-wrapper + .icon-container-wrapper + .icon-container-wrapper {
  .customize-feature-banner {
    position: relative;
    z-index: 10;
    top: max(calc(-300 / var(--breakpoint-pc) * 100vw), -300px);
  }
}

.feature-banner-wrapper + .icon-container-wrapper + .icon-container-wrapper {
  .customize-feature-banner {
    top: max(calc(-300 / var(--breakpoint-pc) * 100vw), -300px);
  }
}

.feature-banner-container.fluid {
  .feature-banner{
    max-width: var(--container-max-width);
    width: 100%;
    padding: 0 var(--size-30);
    margin: 0 auto;
  }
}

.feature-banner-container.fluid {
  .feature-banner-wrapper + .icon-container-wrapper, .feature-banner-wrapper + .icon-container-wrapper + .icon-container-wrapper {
    max-width: var(--container-max-width);
    padding: 0 var(--size-30);
  }
}

@media (width < 860px) {
  .feature-banner-container .feature-banner-wrapper {
    min-height: auto;
    padding-top: 0;
  }

  .feature-banner {
    text-align: center;
    padding: 0 !important;
    width: 100%;

    [data-aue-prop="feature-banner_text"] h6,p:first-child + h1, p:first-child + h2, p:first-child + h3, p:first-child + h4, p:first-child + h5, p:first-child + h6, p:first-child + p {
      width: 100%;
      font-size: var(--size-18);
      margin-bottom: var(--size-12);
    }

    h1+p,
    h2+p,
    h3+p,
    h4+p,
    h5+p,
    h6+p, h1~ p, h2 ~p, h3~p, h4~p, h5~p, h6~p {
      width: 100%;
      font-size: calc(14 / var(--breakpoint-mobile) * 100vw);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      width: 100%;
      font-size: calc(30 / var(--breakpoint-mobile) * 100vw);
      line-height: calc(36 / var(--breakpoint-mobile) * 100vw);
    }

    h1:last-of-type, h2:last-of-type, h3:last-of-type, h4:last-of-type, h5:last-of-type, h6:last-of-type {
      margin-bottom: var(--size-12);
    }

    .feature-pc-img {
      img {
        display: none;
      }
    }
    
    .feature-mobile-img {
      border-radius: calc(16 / var(--breakpoint-mobile) * 100vw);
      text-align: center;
      padding: calc(24 / var(--breakpoint-mobile) * 100vw) 0;

      picture {
        position: static;
      }

      img {
        aspect-ratio: 354 / 200;
        display: block;
        height: auto;
      }
    }
  }

  .feature-banner-wrapper + .icon-container-wrapper, .feature-banner-wrapper + .icon-container-wrapper + .icon-container-wrapper {
    .customize-feature-banner {
      top: 0;

      .icon-container-box {
        justify-content: center;
      }
    }
  }

  .feature-banner-wrapper + .icon-container-wrapper {
    margin: var(--size-24) 0;
  }

  .feature-banner-wrapper + .icon-container-wrapper + .icon-container-wrapper {
    padding-bottom: var(--size-24);
  }
}