.addional-support-card {
  display: flex;
  gap: var(--spacing-sm, 24px);
  justify-content: space-between;
  align-items: center;

  @media (width<860px) {
    flex-direction: column;
  }

  .addional-support-card-item {
    border: 1px solid var(--color-primary-grey-30, "E0E0E0");
    border-radius: var(--border-radius-l, 20px);
    padding: var(--spacing-m, 32px);
    width: min(calc(359 / var(--breakpoint-pc) * 100vw), 359px);
    height: min(calc(335 / var(--breakpoint-pc) * 100vw), 335px);

    @media (width < 860px) {
      border-radius: var(--radius-xl, 16px);
      padding: var(--spacing-sm, 24px) var(--spacing-sm, 24px)
        var(--spacing-sm, 24px) var(--spacing-m, 32px);
      width: calc(356 / var(--breakpoint-mobile) * 100vw);
      height: calc(321 / var(--breakpoint-mobile) * 100vw);
    }
  }

  .addional-support-card-item-icon {
    border-radius: var(--radius-lg, 12px);
    background-color: var(--color-primary-green-10, #edfcfb);
    padding: var(--spacing-2xs, 12px);
    width: min(calc(80 / var(--breakpoint-pc) * 100vw), 80px);
    height: min(calc(80 / var(--breakpoint-pc) * 100vw), 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-sm, 24px);

    @media (width < 860px) {
      width: calc(80 / var(--breakpoint-mobile) * 100vw);
      height: calc(80 / var(--breakpoint-mobile) * 100vw);
      margin-bottom: var(--spacing-sm, 18px);
    }
  }

  .addional-support-card-item-icon img {
    width: min(calc(40 / var(--breakpoint-pc) * 100vw), 40px);
    height: min(calc(40 / var(--breakpoint-pc) * 100vw), 40px);

    @media (width < 860px) {
      width: calc(100 / var(--breakpoint-mobile) * 100vw);
      height: calc(100 / var(--breakpoint-mobile) * 100vw);
    }
  }

  .addional-support-card-item-title {
    font-size: var(--fontsize-title2, 2opx);
    color: var(--color-primary-grey-100);
    font-weight: var(--fontweight-medium, 500);
    line-height: var(--line-height-m, 1.2);
  }

  .addional-support-card-item-subtitle {
    margin-top: var(--spacing-4xs, 4px);
    font-size: var(--fontsize-body2, 14px);
    color: var(--color-primary-grey-50, #747474);
    line-height: 1.5;
  }

  .addional-support-card-item-description {
    font-size: var(--fontsize-body1, 16px);
    color: var(--color-primary-grey-100);
    font-weight: var(--fontweight-medium, 500);
    line-height: 1.5;
    width: 100%;
    height: min(calc(44 / var(--breakpoint-pc) * 100vw), 44px);
    padding: var(--size-10, 10px);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (width < 860px) {
      line-height: 1.3;
      height: calc(41 / var(--breakpoint-mobile) * 100vw);
    }
  }
}

.addional-support-card p {
  margin: 0;
}
