.category-support-card {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-sm, 24px);

  @media (width<860px) {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-xs, 16px);
  }

  .category-support-card-item {
    cursor: pointer;
    border: 1px solid var(--color-primary-grey-30, "E0E0E0");
    border-radius: var(--border-radius-l, 20px);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xs);
    align-items: center;
    justify-content: center;
    height: min(calc(210 / var(--breakpoint-pc) * 100vw), 210px);
    padding-top: var(--spacing-sm, 24px);
    padding-bottom: var(--spacing-m, 32px);

    @media (width < 860px) {
      cursor: default;
      border-radius: var(--radius-xl, 16px);
      gap: var(--spacing-4xs, 4px);
      height: calc(191 / var(--breakpoint-mobile) * 100vw);
      padding: var(--spacing-s2, 20px) 0 var(--spacing-sm, 24px) 0;
    }
  }

  .category-support-card-item-icon {
    width: min(calc(100 / var(--breakpoint-pc) * 100vw), 100px);
    height: min(calc(100 / var(--breakpoint-pc) * 100vw), 100px);

    @media (width < 860px) {
      width: calc(100 / var(--breakpoint-mobile) * 100vw);
      height: calc(100 / var(--breakpoint-mobile) * 100vw);
    }
  }

  .category-support-card-item-icon img {
    width: min(calc(100 / var(--breakpoint-pc) * 100vw), 100px);
    height: min(calc(100 / var(--breakpoint-pc) * 100vw), 100px);

    @media (width < 860px) {
      width: calc(100 / var(--breakpoint-mobile) * 100vw);
      height: calc(100 / var(--breakpoint-mobile) * 100vw);
    }
  }

  .category-support-card-item-description {
    font-size: var(--fontsize-body1, 16px);
    color: var(--color-primary-grey-100);
    font-weight: var(--fontweight-medium, 500);
    line-height: 1.5;
    width: 100%;
    height: min(calc(44 / var(--breakpoint-pc) * 100vw), 44px);
    padding: var(--size-10, 10px);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (width < 860px) {
      line-height: 1.3;
      height: calc(41 / var(--breakpoint-mobile) * 100vw);
    }
  }
}

.category-support-card p {
  margin: 0;
  margin-block: 0;
  display: inline;
}
