.addional-support-card {
  display: flex;
  gap: var(--spacing-sm, 24px);
  justify-content: space-between;
  align-items: center;

  @media (width<860px) {
    flex-direction: column;
  }

  .addional-support-card-item {
    border: 1px solid var(--color-primary-grey-30, "E0E0E0");
    border-radius: var(--border-radius-l, 20px);
    padding: var(--spacing-m, 32px);
    width: min(calc(359 / var(--breakpoint-pc) * 100vw), 359px);
    height: min(calc(335 / var(--breakpoint-pc) * 100vw), 335px);

    @media (width < 860px) {
      border-radius: var(--radius-xl, 16px);
      padding: var(--spacing-sm, 24px) var(--spacing-sm, 24px)
        var(--spacing-m, 32px) var(--spacing-sm, 24px);
      width: calc(356 / var(--breakpoint-mobile) * 100vw);
      height: calc(321 / var(--breakpoint-mobile) * 100vw);
    }
  }

  .addional-support-card-item-icon {
    border-radius: var(--radius-lg, 12px);
    background-color: var(--color-primary-green-10, #edfcfb);
    padding: var(--spacing-2xs, 12px);
    width: min(calc(80 / var(--breakpoint-pc) * 100vw), 80px);
    height: min(calc(80 / var(--breakpoint-pc) * 100vw), 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-sm, 24px);

    @media (width < 860px) {
      width: calc(80 / var(--breakpoint-mobile) * 100vw);
      height: calc(80 / var(--breakpoint-mobile) * 100vw);
      margin-bottom: var(--spacing-sm, 18px);
    }
  }

  .addional-support-card-item-icon picture {
    @media (width < 860px) {
      width: calc(40 / var(--breakpoint-mobile) * 100vw);
      height: calc(40 / var(--breakpoint-mobile) * 100vw);
    }
  }

  .addional-support-card-item-icon img {
    width: min(calc(40 / var(--breakpoint-pc) * 100vw), 40px);
    height: min(calc(40 / var(--breakpoint-pc) * 100vw), 40px);

    @media (width < 860px) {
      width: calc(40 / var(--breakpoint-mobile) * 100vw);
      height: calc(40 / var(--breakpoint-mobile) * 100vw);
    }
  }

  .addional-support-card-item-title {
    font-size: var(--fontsize-title2, 2opx);
    color: var(--color-primary-grey-100);
    font-weight: var(--fontweight-medium, 500);
    line-height: var(--line-height-m, 1.2);
  }

  .addional-support-card-item-subtitle {
    margin-top: var(--spacing-4xs, 4px);
    font-size: var(--fontsize-body2, 14px);
    color: var(--color-primary-grey-50, #747474);
    line-height: 1.5;
    margin-bottom: var(--spacing-s2, 20px);
  }

  .addional-support-card-item-time-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-3xs, 8px);

    .main-circle {
      width: var(--size-10, 10px);
      height: var(--size-10, 10px);
      border-radius: 50%;
      background-color: var(--color-primary-green-50, #009f9c);
    }

    .working-time,
    .response-time {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--fontsize-body2, 14px);
      font-weight: var(--fontweight-medium, 500);
      height: var(--size-21, 21px);

      @media (width<860px) {
        height: var(--size-20, 20px);
      }
    }

    .working-time {
      color: var(--color-primary-grey-70, #333);
      line-height: 1.5;

      @media (width<860px) {
        line-height: 1.4;
      }
    }

    .response-time {
      color: var(--color-primary-grey-50, #747474);
    }
  }

  .phone-number {
    display: flex;
    align-items: center;
    font-size: var(--fontsize-body2, 14px);
    font-weight: var(--fontweight-medium, 500);
    height: var(--size-21, 21px);
    color: var(--color-primary-grey-70, #333);
    line-height: 1.5;

    @media (width<860px) {
      height: var(--size-20, 20px);
      line-height: 1.4;
    }
  }

  .phone-number-hidden {
    @media (width <860px) {
      display: none;
    }
  }

  .button-hidden {
    @media (width >=860px) {
      display: none;
    }
  }

  .addional-support-card-item-link {
    margin-top: var(--spacing-m, 32px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid var(--color-primary-grey-70, #333);
    width: min(calc(123 / var(--breakpoint-pc) * 100vw), 123px);
    height: min(calc(42 / var(--breakpoint-pc) * 100vw), 42px);
    border-radius: var(--size-100, 100px);
    font-size: var(--fontsize-body2, 14px);
    color: var(--color-primary-grey-100, #000);
    font-weight: var(--fontweight-medium, 500);
    line-height: 1.5;

    @media (width<860px) {
      width: 100%;
      height: calc(42 / var(--breakpoint-mobile) * 100vw);
    }
  }

  .addional-support-card-item-link:hover {
    @media (width>=860px) {
      color: var(--color-primary-grey-10, #fff);
      background-color: var(--color-primary-grey-70, #333);
      border: none;
    }
  }

  .addional-support-card-item-link:active {
    color: var(--color-primary-grey-10, #fff);
    background-color: var(--color-primary-grey-100, #000);
    border: none;

    @media (width<860px) {
      color: var(--color-primary-grey-10, rgb(255 255 255 / 80%));
    }
  }
}

.addional-support-card p {
  margin: 0;
}

.addional-support-card p.highlight {
  margin: 0;
  display: flex;
  align-items: center;
}
