.popup-text-wrapper {
  p {
    margin: 0;
  }

  .title {
    font-size: var(--fontsize-title2);
    color: var(--color-primary-grey-100);
    line-height: var(--size-24);
    font-weight: var(--fontweight-medium);
    margin-bottom: var(--size-8);
  }

  .text {
    font-size: var(--fontsize-body1);
    color: var(--color-primary-grey-70);
    line-height: min(calc(25.6 / var(--breakpoint-pc) * 100vw), 25.6px);
    font-weight: var(--fontweight-book);
  }
}

@media (width < 860px) {
  .popup-text-wrapper {
    .title {
      font-size: var(--size-16);
      line-height: calc(20.8 / var(--breakpoint-mobile) * 100vw);
      margin-bottom: var(--size-12);
    }

    .text {
      font-size: var(--size-14);
      line-height: var(--size-21);
    }
   }
}