.columns > div {
  display: flex;
  flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.columns img {
  width: 100%;
	height: 100%;
	border-radius: 20px;
}

.columns.four-by-three img {
	aspect-ratio: 4 / 3;
	object-fit: cover;
}

.columns.three-by-two img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.collection-cover-card > div > div{ 
   border-radius: 20px;
    overflow: hidden;
    background-color: var(--background-color);
    position: relative;
}
.collection-cover-card >div p{
   margin: 0;
}
.collection-cover-card img{
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
.collection-cover-card p:nth-child(2){
      position: absolute;
      top: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
      color: white;
      font-size: 20px;
    }
.collection-cover-card .button-container{
      display: none;
 }

 .collection-center-card > div > div{ 
   border-radius: 20px;
    overflow: hidden;
    background-color: var(--background-color);
    position: relative;
}
.collection-center-card >div p{
   margin: 0;
}
.collection-center-card img{
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
.collection-center-card p:nth-child(2){
      position: absolute;
      top: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      width: 100%;
      color: white;
      font-size: 20px;
    }
.collection-center-card .button-container{
      display: none;
 }