.columns > div {
  display: flex;
  flex-direction: column;
	align-items: flex-start;
	gap: 16px;
}

.columns img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.columns.four-by-three img {
	aspect-ratio: 4 / 3;
	object-fit: cover;
}

.columns.three-by-two img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: flex-start;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
