@import url("../../styles/reset-rich-text.css");

main > .section:first-of-type {
  margin: 0;
  background: transparent !important;
}

p {
  margin: 0;
  padding: 0;
  line-height: unset;
}

.hero-banner-wrapper {
  max-width: 1920px !important;
  padding: 0 !important;
}

.hero-banner-items-container {
  width: 100%;
  aspect-ratio: 1440/860;
  list-style: none;
  margin: 0;
  max-width: 1920px !important;
}

.hero-banner {
  position: relative;

  .hero-banner-items-container {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .hero-banner-items::-webkit-scrollbar {
    display: none;
  }
}

.hero-banner-item {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;

  &.light {
    color: black;
  }

  .hero-banner-item-image {
    width: 100%;
    height: 100%;

    picture {
      inset: 0;
      width: 100%;
    }

    picture > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    p:nth-child(2) {
      display: none;
    }
  }

  .hero-banner-content {
    position: absolute;
    top: 50%;
    left: calc(
      50% - min(calc(1120 / var(--breakpoint-pc) * 100vw), 1120px) / 2
    );
    transform: translate(0, -50%);
    max-height: min(calc(568 / var(--breakpoint-pc) * 100vw), 568px);
    width: min(calc(1120 / var(--breakpoint-pc) * 100vw), 1120px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-40);

    @media (width>=860px) {
      padding: 0;
    }
  }

  .hero-banner-item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-3xs);
  }

  .teal-text {
    color: var(--color-hisense-teal);
    font-weight: var(--fontweight-medium);
    font-size: var(--fontsize-title2);
    margin-top: 0;
  }

  .hero-banner-item-content h1,
  .hero-banner-item-content h2,
  .hero-banner-item-content h3,
  .hero-banner-item-content h4,
  .hero-banner-item-content h5,
  .hero-banner-item-content h6,
  .hero-banner-item-content p {
    margin: 0;
    width: min(calc(360 / var(--breakpoint-pc) * 100vw), 360px);
    font-size: var(--fontsize-pc-h2, 40px);
    font-weight: var(--fontweight-medium, 500);
    line-height: 120%;
    text-transform: capitalize;
  }

  .hero-banner-item-content.icon-svg {
    width: min(calc(327 / var(--breakpoint-pc) * 100vw), 327px);
    height: 100%;
    justify-content: center;

    picture {
      inset: 0;
      width: 100%;
    }

    picture > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hero-banner-cta-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: var(--spacing-xs);
  }

  .hero-banner-item-cta {
    display: inline-block;

    p {
      font-size: var(--body-font-size-l);
      font-weight: var(--fontweight-medium);
      text-align: center;
      margin: 0 auto;
      line-height: 0;
      padding: 0;

      a {
        width: auto;
        display: inline-block;
        padding: var(--spacing-4xs) var(--spacing-pc-md);
        line-height: var(--size-42);
        font-size: var(--fontsize-body2);
        text-align: center;
        background-color: transparent;
        border: 1px solid var(--color-hisense-black);
        color: var(--color-hisense-black);
        margin: 0;
      }

      a.hisense-green {
        background-color: var(--color-primary-green-60) !important;
        border: none !important;
        color: var(--color-primary-grey-10) !important;
      }

      a.hisense-black {
        background-color: var(--color-hisense-black);
        border: none;
        color: var(--color-primary-grey-10);
      }

      a:hover {
        background-color: var(--color-primary-grey-70);
        border-color: var(--color-primary-grey-70);
        color: var(--color-primary-grey-10);
      }

      a.hisense-green:hover {
        background-color: var(--color-primary-green-40) !important;
        color: var(--color-primary-grey-10) !important;
      }

      a.hisense-black:hover {
        background-color: var(--color-primary-grey-70);
        color: var(--color-primary-grey-10);
      }
    }
  }

  .video-play-icon {
    position: absolute;
    bottom: var(--size-24);
    left: min(calc(160 / var(--breakpoint-pc) * 100vw), 160px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--white-alpha-40, rgb(255 255 255 / 40%));
    cursor: pointer;
    z-index: 1;
    width: var(--size-40);
    height: var(--size-40);
    border: none;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    transition: background-color 0.2s;

    &.is-playing {
      background-color: transparent;

      .play-icon {
        display: none;
      }

      .pause-icon {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &.is-paused {
      .play-icon {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .pause-icon {
        display: none;
      }
    }
  }

  &.dark {
    color: var(--color-primary-grey-10);

    .hero-banner-item-content,
    .hero-banner-item-cta {
      color: var(--background-light);
    }

    .hero-banner-item-cta p {
      a {
        color: var(--background-light);
        border-color: var(--background-light);

        &:hover {
          background-color: var(--color-primary-grey-10);
          border-color: var(--color-primary-grey-10);
          color: var(--color-primary-grey-100);
        }
      }
    }

    .video-play-icon {
      background-color: var(--grey-alpha-40, rgb(20 20 20 / 40%));
    }
  }
}

.video-mode {
  p {
    display: none;
  }
}

.video-div-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-auto-play {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1440 / 860;
}

.hero-banner-item-indicators {
  position: absolute;
  bottom: var(--size-24);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--size-16);
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  line-height: 0;

  button {
    width: var(--size-8);
    height: var(--size-8);
    border: none;
    margin: 0;
    padding: 0;
    background-color: var(--color-hisense-grey-02);
    opacity: 0.4;
    transition: background-color 0.2s;

    &:disabled {
      opacity: 1;
      background-color: var(--color-hisense-grey-02);
      width: var(--size-68);
    }

    &:hover {
      opacity: 1;
    }
  }
}

.hero-banner.dark .hero-banner-item-indicators {
  button {
    background-color: var(--background-light);

    &:disabled {
      background-color: var(--background-light);
    }
  }
}

.hero-banner-navigation-buttons {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 var(--size-32);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.hero-banner-navigation-buttons button {
  position: relative;
  width: var(--size-40);
  height: var(--size-40);
  border: none;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  background-color: var(--white-alpha-30);
  transition: background-color 0.2s;
}

.hero-banner-navigation-buttons button:hover,
.hero-banner-navigation-buttons button:focus-visible {
  background-color: var(--white-alpha-60);
}

.hero-banner-navigation-buttons button img {
  width: var(--size-40);
  height: var(--size-40);
}

.hero-banner.only-picture {
  .hero-banner-items-container {
    aspect-ratio: 9 / 4;

    @media (width<860px) {
      aspect-ratio: 39 / 48;
    }

    .hero-banner-item {
      .hero-banner-content {
        height: auto;
        width: 100%;
        left: calc(
          50% - min(calc(1120 / var(--breakpoint-pc) * 100vw), 1120px) / 2
        );
      }

      .hero-banner-item-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size-8);
      }

      .hero-banner-item-content h1,
      .hero-banner-item-content h2,
      .hero-banner-item-content h3,
      .hero-banner-item-content h4,
      .hero-banner-item-content h5,
      .hero-banner-item-content h6,
      .hero-banner-item-content p {
        width: min(calc(422 / var(--breakpoint-pc) * 100vw), 422px);
      }

      .hero-banner-item-cta {
        display: none;
      }
    }
  }
}

@media (width < 860px) {
  .hero-banner .hero-banner-items-container {
    touch-action: pan-y;
    user-select: none;
    aspect-ratio: 390/640;
    max-height: 100dvh;

    &::-webkit-scrollbar {
      display: none;
    }

    picture > img {
      pointer-events: none;
      display: block;
      width: 100%;
      height: 100%;
    }

    .hero-banner-item {
      .hero-banner-content {
        width: 100%;
        bottom: var(--size-54);
        transform: none;
        font-weight: var(--fontweight-medium);
        left: 0;
        gap: var(--size-18);
        padding: 0 var(--size-24);
        max-height: calc(272 / var(--breakpoint-mobile) * 100vw);
        justify-content: flex-start;

        .hero-banner-item-content {
          h1,
          h2,
          h3,
          h4,
          h5,
          h6,
          p {
            font-size: var(--fontsize-h3, 30px);
            width: 100%;
          }
        }

        .text-content {
          gap: var(--size-8);
          height: calc(214 / var(--breakpoint-mobile) * 100vw);
          justify-content: center;
        }

        .teal-text {
          width: 100%;
          font-size: var(--size-20);
          line-height: 1.3;
        }

        a {
          font-size: var(--fontsize-body2);
          font-weight: var(--fontweight-medium);
          height: var(--size-40);
          box-sizing: border-box;
          line-height: var(--size-32);
          text-align: center;
          padding: var(--size-4) var(--size-24);
        }
      }

      .hero-banner-item-image {
        touch-action: manipulation;
        user-select: none;

        --webkit-user-select: none;

        p:nth-child(1) {
          display: none;
        }

        p:nth-child(2) {
          display: block;
        }
      }
    }

    .hero-banner-item-content.icon-svg {
      width: min(70.76923077vw, 39.0625vh);
      margin: auto 0;
    }
  }

  .video-auto-play {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 390/640;
  }

  .hero-banner-item .video-play-icon {
    width: var(--size-24);
    height: var(--size-24);
    border-radius: 100%;
    right: var(--size-24);
    bottom: var(--size-52);
    left: auto;
    backdrop-filter: blur(calc(var(--size-20) / 2));
  }

  .hero-banner.only-picture .hero-banner-items-container {
    width: 100%;

    .hero-banner-item .hero-banner-content {
      line-height: 1.2;
      left: 0;
      bottom: 0;
      padding: 0 var(--size-24) var(--size-32);
      font-size: var(--size-34);
      text-transform: capitalize;
      letter-spacing: 0;

      .text-content {
        justify-content: flex-end;

        .hero-banner-item-content {
          gap: 0;

          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            font-size: var(--size-34);
            line-height: 1.2;
          }
        }
      }
    }

    picture > img {
      object-fit: cover;
    }
  }

  .hero-banner .hero-banner-item-indicators {
    height: var(--size-36);
    gap: var(--size-8);
    bottom: 0;
    align-items: center;

    button {
      height: var(--size-6);
      width: var(--size-6);

      &:disabled {
        border-radius: calc(75 / var(--breakpoint-mobile) * 100vw);
        width: var(--size-30);
      }
    }
  }

  .hero-banner .hero-banner-navigation-buttons {
    display: none !important;
  }
}

@media (width >= 860px) {
  .hero-banner-items-container.full-screen {
    max-height: 100dvh;
  }
}
