/* Product Specifications Styles */
.product-specifications #specifications {
  @media (width < 860px) {
    font-size: var(--size-18);
    color: var(--color-primary-green-50, #009e9b);
    text-transform: uppercase;
  }
}

.properties-wrapper {
  padding-bottom: var(--size-32);
  background: var(--color-primary-grey-10, #fff);
}

.properties-wrapper:nth-child(1 of .properties-wrapper) {
  border-top-left-radius: var(--border-radius-l);
  border-top-right-radius: var(--border-radius-l);
}

.properties-wrapper:nth-last-child(1 of .properties-wrapper) {
  border-bottom-left-radius: var(--border-radius-l);
  border-bottom-right-radius: var(--border-radius-l);
  padding-bottom: 0;
}

.divide-line {
  padding: 0 var(--size-30);
  width: 100%;
  background: var(--color-primary-grey-10, #fff);

  div {
    width: 100%;
    height: 1px;
    background: var(--color-primary-green-50, #009f9c);
  }
}

.properties {
  color: var(--text-light);
  padding: var(--size-40);
  display: flex;
  flex-direction: column;

  button {
    all: unset;
    cursor: pointer;
  }

  img {
    transition: transform 0.3s ease;
  }

  p {
    margin: 0;
  }

  .properties-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      transition:
        transform 0.36s cubic-bezier(0, 0.18, 0.07, 1),
        -webkit-transform 0.36s cubic-bezier(0, 0.18, 0.07, 1);
    }
  }

  .properties-header:hover {
    color: var(--color-hisense-teal);
  }

  .properties-header-title {
    font-size: var(--fontsize-title1, 24px);
    font-weight: 500;
    margin: 0;
    color: var(--color-primary-grey-90);
  }

  .properties-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 34px;
    width: 100%;
    transition: max-height 0.36s ease-in-out;
    max-height: min(calc(600 / var(--breakpoint-pc) * 100vw), 600px);
    overflow: hidden;
    clip-path: inset(0);
    contain: layout style;
    box-sizing: border-box;
  }

  .property {
    width: calc(50% - (24px * 3 / 4));
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    font-size: var(--fontsize-body3, 12px);

    @media (width >= 600px) {
      width: calc(25% - (24px * 3 / 4));
    }
  }

  .property:nth-child(-n + 3) {
    margin-top: var(--size-32);
  }

  .property-name {
    font-weight: 500;
    color: var(--color-hisense-grey-01);
  }
}

.properties.expanded {
  img {
    transform: rotate(0deg);
  }
}

.properties:not(.expanded) {
  .properties-content {
    max-height: 0 !important;
    margin: 0;
    overflow: hidden;
    padding-top: 0;
  }

  img {
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
  }
}

.properties:not(.last) {
  padding-bottom: 0;
}
