
.feature-navigation-wrapper {
  width: 100%;
  background-color: var(--color-primary-green-10);
  border-radius: var(--radius-xl);
  padding: 0 !important;
}

.feature-navigation-wrapper p{
  margin: 0;
  padding: 0;
}

.feature-navigation > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  gap: var(--size-24);

  @media (width < 860px) {
     grid-template-columns: 1fr;
     gap: 0;
	}
}
.feature-navigation .diver{
  width: 1px;
  height: calc(100% - var(--size-80));
  background-color: var(--color-primary-green-50);
  margin: auto 0;
 
   @media (width < 860px) {
    width: calc(100% - var(--size-86));
    height: 1px;
    margin: 0 auto;
	}
}

.feature-navigation > ul > li {
   font-family: var(--font-family);
   padding: var(--size-48);
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   @media (width < 860px) {
    padding: var(--size-48) var(--size-43);
    text-align: center;
  }
}

.feature-navigation .card-body {
  color:var(--color-primary-grey-100);
   
   font-family: var(--font-family);
   margin: var(--spacing-sm) 0 var(--spacing-md);
   
   @media (width < 860px) {
     margin: var(--size-12) 0 var(--spacing-sm);
  }
}

.feature-navigation .card-body div:first {
  font-weight: var(--fontweight-medium);
  font-size: var(--fontsize-title1);
  margin-bottom: var(--size-8);

   @media (width < 860px) {
    font-size: var(--size-20);
    margin-bottom: var(--size-4);
  }
}

.feature-navigation .card-body div:nth-child(2){
   font-weight: var(--fontweight-book);
   font-size: var(--fontsize-body2);
   
   @media (width < 860px) {
      font-size: var(--size-14);
  }
}

.feature-navigation .card-cta a.button:any-link, button {
 
    margin: 0;
    padding: 0;
    background: none;
    color: black;
}

.feature-navigation .card-cta a.button:any-link, button ::after{

}

.feature-navigation  > ul > li .card-image {
  width: var(--size-80);
  aspect-ratio: 1 / 1 ;
  object-fit: contain;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);

  @media (width < 860px) {
     width: var(--size-64);
     margin: auto;
  }
}

.feature-navigation  > ul > li img {
  width: 100%;
  height: 100%;
}

.feature-navigation-container{
  height: 100% !important;
}
