
.feature-navigation-wrapper {
  width: 100%;
  background-color: var(--color-primary-green-10);
  border-radius: var(--radius-xl);
}

.feature-navigation-wrapper p{
  margin: 0;
  padding: 0;
}

.feature-navigation > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;

  @media (width < 860px) {
     grid-template-columns: 1fr;
	}
}

.feature-navigation > ul > li {
   font-family: var(--font-family);
   height: 380px;

   @media (width < 860px) {
   height: 281px;
  }
}

.feature-navigation > ul > li {
   font-family: var(--font-family);
   height: 380px;

   @media (width < 860px) {
   height: 281px;
  }
}


.feature-navigation  > ul > li .card-image {
  width: var(--size-80);
  aspect-ratio: 1 / 1 ;
  object-fit: contain;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);

  @media (width >= 860px) {
     width: var(--size-64);
  }
}

.feature-navigation  > ul > li img {
  width: 100%;
  height: 100%;
}

.feature-navigation-container{
  height: 100% !important;
}
