/* 页面部分样式 */
.authorized-retailer-badge {
  padding: var(--spacing-lg) 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (width < 860px) {
    flex-direction: column;
  }

  .authorized-retailer-badge-header-icon > div:first-child,
  .authorized-retailer-badge-header-title > div:first-child,
  .authorized-retailer-badge-header-subtitle > div:first-child {
    display: none;
  }

  .authorized-retailer-badge-header-icon {
    flex: none;
    width: var(--size-100, 100px);
    height: var(--size-100, 100px);
    text-align: center;
    margin-right: var(--spacing-sm, 24px);

    img {
      display: block;
      margin: 0 auto;
      padding: var(--size-10, 10px);
    }

    @media (width < 860px) {
      height: auto;
      margin-right: 0;
      margin-bottom: 12px;
    }
  }

  .authorized-retailer-badge-header-text {
    width: calc(100% - var(--size-100, 100px) - var(--spacing-sm, 24px));
    flex: auto;

    @media (width < 860px) {
      width: 100%;
    }
  }

  .authorized-retailer-badge-header-title {
    color: var(--color-primary-green-50, #009f9c);
    font-size: var(--size-title2, 20px);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: var(--spacing-3xs, 4px);

    p {
      margin: 0;
      line-height: 120%;
      white-space: pre-wrap;
    }

    @media (width < 860px) {
      color: var(--color-primary-green-60, #008482);
      text-align: center;
      font-size: var(--size-16, 16px);
    }
  }

  .authorized-retailer-badge-header-subtitle {
    color: var(--color-hisense-black, #000);
    font-size: var(--fontsize-h2, 34px);
    font-weight: 400;
    line-height: 120%;
    text-transform: capitalize;

    p {
      margin: 0;
      line-height: 120%;
      white-space: pre-wrap;
    }

    @media (width < 860px) {
      text-align: center;
      font-size: var(--fontsize-title1, 24px);
      -webkit-line-clamp: none;
    }
  }

  .authorized-retailer-badge-list {
    width: 100%;
    flex: 0 1 100%;
    margin-top: var(--spacing-m, 32px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--spacing-sm, 24px);
  }

  .authorized-retailer-badge-item {
    width: calc(100% / 3 - var(--spacing-sm, 24px) * 2 / 3);
    height: min(calc(255 / var(--breakpoint-pc) * 100vw), 255px);
    padding: var(--spacing-m, 32px);
    text-align: center;
    border-radius: var(--border-radius-l, 20px);
    background: var(--background-grey, #f7f7f7);

    p {
      margin: 0;
      line-height: 120%;
    }

    @media (width < 860px) {
      padding: var(--spacing-lg, 40px) var(--spacing-sm, 24px);
      border-radius: var(--radius-xl, 16px);
      width: 100%;
      height: auto;

      p {
        line-height: 150%;
      }
    }
  }

  .authorized-retailer-badge-item-icon {
    height: min(calc(70 / var(--breakpoint-pc) * 100vw), 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-xs, 16px);

    picture,
    img {
      width: 100%;
      height: 100%;
    }

    @media (width < 860px) {
      height: min(calc(80 / var(--breakpoint-mobile) * 100vw), 80px);
      margin-bottom: var(--spacing-m, 32px);
    }
  }

  .authorized-retailer-badge-item-title {
    color: var(--color-primary-grey-70, #333);
    text-align: center;
    font-size: var(--size-14, 14px);
    font-weight: 400;
    line-height: 150%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (width < 860px) {
      color: var(--color-primary-grey-60, #555);
      -webkit-line-clamp: none;
    }
  }
}
