/* css */

.campaign-product {
  display: flex;
  gap: var(--size-24);
  
  .campaign-category {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-16);
    height: var(--size-68);
    border-radius: var(--size-16);
    padding: 0 var(--size-16);
    background-color: #C8EFEE;
    
    &.active {
      background-color: #FFF;
      
      .category-title {
        color: var(--color-primary-grey-100);
      }
    }
    
    .category-img img {
      display: block;
      width: var(--size-68);
      height: var(--size-68);
    }
    
    .category-title {
      color: #008482;
      font-size: var(--size-16);
      line-height: 1.2;
      font-weight: var(--fontweight-medium);
    }
  }
}

.preview-group {
  margin-top: var(--size-40);
  
  .preview-list {
    display: flex;
    gap: var(--size-24);
    
    .product-card {
      width: min(calc(262 / var(--breakpoint-pc) * 100vw), 262px);
      height: min(calc(530 / var(--breakpoint-pc) * 100vw), 530px);
      flex-shrink: 0;
      padding: var(--size-20);
      border-radius: var(--size-20);
      background: var(--color-primary-grey-10);
      display: flex;
      flex-direction: column;
      
      .product-card-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: var(--size-24);
        
        img {
          width: var(--size-24);
          height: var(--size-24);
          display: block;
        }
      }
      
      .product-img {
        margin-top: var(--size-8);
        width: min(calc(222 / var(--breakpoint-pc) * 100vw), 222px);
        height: min(calc(222 / var(--breakpoint-pc) * 100vw), 222px);
        
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      
      .product-series {
        margin-top: var(--size-8);
        font-size: var(--size-14);
        font-weight: var(--fontweight-medium);
        color: var(--color-primary-green-60);
        line-height: var(--size-21);
      }

      .product-name {
        font-size: var(--size-20);
        font-weight: var(--fontweight-medium);
        line-height: var(--size-24);
        margin-bottom: var(--size-8);
        color: var(--color-primary-grey-100);
      }

      .product-price-group {
        display: flex;
        gap: var(--size-4);
        flex-wrap: wrap;
        align-items: baseline;
        margin-top: auto;
        margin-bottom: var(--size-16);

        .product-current-price {
          margin: 0;
          font-size: var(--fontsize-title2);
          line-height: 1.2;
          font-weight: var(--fontweight-medium);
          color: var(--color-primary-grey-100);
        }

        .product-original-price {
          font-size: var(--size-10);
          line-height: 1.5;
          font-weight: var(--fontweight-book);
          color: var(--color-primary-grey-50);
          text-decoration: line-through;
        }

        .product-discounts {
          width: 100%;
          flex-shrink: 0;
          font-size: var(--size-10);
          line-height: 1.5;
          font-weight: var(--fontweight-book);
          color: var(--color-primary-green-60);

          span:first-child {
            margin-right: var(--size-3);
          }
        }
      }
      
      .product-btn-group {
        display: flex;
        gap: var(--size-14);
        
        .product-btn {
          padding: 0 var(--size-16);
          border: 1px solid var(--color-primary-grey-70);
          border-radius: var(--size-15);
          background: transparent;
          color: var(--color-primary-grey-100);
          cursor: pointer;
          font-size: var(--size-12);
          font-weight: var(--fontweight-medium);
          height: var(--size-30);
          line-height: var(--size-30);
          text-decoration: none;
          margin-top: auto;
          align-self: flex-start;
          text-align: center;
          width: 100%;
          text-transform: capitalize;
        }
      }
    }
  }

  .ctrl-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--size-40);
    gap: var(--size-48);
    height: var(--size-28);

    .position-bar {
      width: min(calc(400 / var(--breakpoint-pc) * 100vw), 400px);
      height: var(--size-3);
      border-radius: var(--size-100);
      background-color: var(--grey-alpha-10);
      position: relative;
      
      .data-position-bar {
        position: absolute;
        top: 0;
        left: 0;
        width: var(--size-100);
        height: 100%;
        background: var(--color-primary-grey-70);
        border-radius: var(--size-100);
      }
    }
    
    .btn-group {
      display: flex;
      gap: var(--size-12);
      
      .scroll-btn {
        height: var(--size-28);
        cursor: pointer;
        
        .disabled-icon {
          cursor: not-allowed;
        }
      }
    }
  }
}