/* main {
  .popup-mask {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1000000000;
    background: rgb(0 0 0 / 60%);
    max-width: unset;
    padding: 0;
    margin: 0;

    &.popup-mask-show {
      display: block;
    }
  }
} */

main .section.popup-module-container {
  display: none;

  /* &[data-id="rgb-popup"] {
    display: block
  } */
  position: fixed;
  inset: 0;
  z-index: 1000000000;
  background: rgb(0 0 0 / 60%);
  max-width: unset;
  padding: 0;
  margin: 0;

  &.popup-show {
    display: block;
  }

  .popup-container {
    width: min(55.5%, 800px);
    padding: 0;
    overflow: hidden;
    background: var(--color-primary-grey-10);
    border-radius: var(--size-20);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .popup-close {
      width: var(--size-95);
      height: var(--size-95);
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        width: var(--size-24);
        height: var(--size-24);
      }
    }

    .popup-content-container {
      padding: 0 var(--size-80) var(--size-80);
      margin-top: var(--size-80);
      width: 100%;
      height: 100%;
      max-height: min(calc(100vh - 110px), 700px);
      overflow-y: auto;
      scroll-behavior: smooth;
      display: flex;
      flex-direction: column;
      gap: var(--size-48);
    }
  }

  &[data-aue-component="popup-module"] {
    .popup-content-container {
      max-height: none;
    }
  }

  &.popup-announcement {
    .popup-content-container {
      gap: var(--size-16);
    }
  }
}

@media (width < 860px) {
  main .section.popup-module-container {
    .popup-container {
      width: calc(100vw - 36px);
      border-radius: var(--size-16);

      .popup-close {
        width: var(--size-72);
        height: var(--size-72);
  
        img {
          width: var(--size-24);
          height: var(--size-24);
        }
      }

      .popup-content-container {
        padding: var(--size-32) var(--size-24);
        margin-top: var(--size-48);
        max-height: min(calc(560 / var(--breakpoint-mobile) * 100vw), 560px);
        gap: var(--size-32);
      }
    }

    &[data-aue-component="popup-module"] {
      .popup-content-container {
        max-height: none;
      }
    }

    &.popup-announcement {
      .popup-content-container {
        gap: var(--size-8);
      }
    }
  }
}