.tech-item-wrapper {
  margin-top: var(--spacing-1-xl);

  .tech-item-style {
    display: none;
  }

  &.icon-style {
    .tech-item-box {
      display: flex;
      align-items: center;
      margin-bottom: var(--spacing-1-xl);
      
      &:last-child {
        margin-bottom: 0;
      }

      .tech-item-icon {
        width: var(--icon-1-xl);
        height: var(--icon-1-xl);
        margin-inline-end: var(--spacing-m);
        flex-shrink: 0;
        align-self: start;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .tech-item-text-content {
        p:first-child {
          font-size: var(--heading-s-font-size);
          line-height: var(--heading-s-line-height);
          font-weight: var(--fontweight-medium);
          color: var(--text-black-title);
          margin-bottom: var(--spacing-xs);
        }

        p:nth-child(2) {
          font-size: var(--body-m-font-size);
          font-weight: var(--fontweight-book);
          color: var(--text-gray-supporting-text);
          line-height: var(--body-m-line-height);
      }
    }
  }
  }

  &.stats-style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-l);

    /* 所有元素等高 */

    /* grid-auto-rows: 1fr;  */

    .tech-item-box {
      /* height: var(--size-96); */
      background-color: var(--background-primary);
      border-radius: var(--border-radius-xl);
      padding: var(--spacing-l);
      text-align: center;

      .tech-item-text-content {
        display: flex;
        flex-direction: column;

        /* justify-content: center; */
        align-items: center;
        height: 100%;
      }

      p:first-child {
        font-size: var(--heading-s-font-size);
        font-weight: var(--fontweight-medium);
        color: var(--text-green);
        line-height: var(--heading-s-line-height);
      }

      p:nth-child(2) {
        margin-top: var(--spacing-xxs);
        font-size: var(--body-m-font-size);
        font-weight: var(--fontweight-book);
        color: var(--text-gray-supporting-text);
        line-height: var(--body-m-line-height);
      }
    }
  }
}

@media (width < 640px) {
  .tech-item-wrapper {
    margin-top: var(--spacing-l);

    &.icon-style {
      .tech-item-box {
        margin-bottom: var(--spacing-m);
      }
    }

    &.stats-style {
      gap: var(--spacing-m);

      .tech-item-box {
        padding: var(--spacing-l);
      }
    }
  }
}