.recall-info-list {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .recall-info-container {
    .recall-info-card-group {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-m, 32px);

      @media (width < 860px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .recall-info-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-m, 32px);
        align-self: stretch;
        border-radius: var(--radius-pc-xl, 20px);
        border: 1px solid var(--color-primary-grey-30, #e0e0e0);
        background: var(--color-primary-grey-10, #fff);

        @media (width < 860px) {
          flex-direction: row;
          padding-bottom: var(--size-32);
          border-bottom: 1px solid var(--color-primary-grey-40);
          border-radius: inherit;
        }

        .card-left {
          display: flex;
          gap: var(--spacing-xs, 16px);

          .document-icon {
            width: var(--size-40);
            height: var(--size-40);
          }

          .title-container {
            .card-title {
              color: var(--color-primary-grey-70, #333);
              font-size: var(--fontsize-body1, 16px);
              font-style: normal;
              font-weight: var(--fontweight-medium, 500);
              line-height: 1.5;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              max-width: min(calc(700 / var(--breakpoint-pc) * 100vw), 700px);
            }

            .announced-date {
              color: var(--color-primary-grey-50, #747474);
              font-size: var(--fontsize-body2, 14px);
              font-style: normal;
              line-height: 150%;
            }
          }
        }

        .download-container {
          cursor: pointer;
          padding: var(--spacing-4xs, 4px) var(--spacing-sm, 24px);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: var(--spacing-2xs, 12px);
          align-self: stretch;
          border-radius: 100px;
          background: var(--color-primary-green-60, #008482);
        }

        .download-container > span {
          color: var(--color-primary-grey-10, #fff);
          text-align: center;
          font-size: var(--fontsize-body2, 14px);
          font-style: normal;
          font-weight: var(--fontweight-medium, 500);
          line-height: 1.5;
        }

        .recall-info-empty {
          grid-column: 1 / -1;
          padding: 40px 0;
          text-align: center;
          font-size: 16px;
          color: var(--color-primary-grey-70);
        }
      }
    }

    .recall-info-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--size-16);
      margin-top: var(--size-48);

      @media (width < 860px) {
        display: none;
      }

      .page-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--size-40);
        height: var(--size-40);
        padding: 0;
        border-radius: var(--radius-md);
        border: 1px solid transparent;
        background-color: transparent;
        color: var(--color-hisense-black);
        font-size: var(--fontsize-body1);
        line-height: 1.5;
        font-weight: var(--fontweight-medium);
        cursor: pointer;

        &.is-active {
          background-color: var(--color-primary-green-60);
          color: #fff;
        }

        &:disabled {
          .page-arrow.normal {
            display: none;
          }

          .page-arrow.disabled {
            display: block;
          }
        }

        .page-arrow {
          width: var(--size-24);
          height: var(--size-24);
          display: block;

          &.disabled {
            display: none;
          }
        }
      }
    }

    .recall-info-pagination-mobile {
      display: none;

      @media (width < 860px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: var(--size-16);

        .page-button {
          display: flex;
          justify-content: center;
          align-items: center;
          height: var(--size-40);
          padding: 0 var(--size-20);
          border-radius: var(--size-100);
          border: 1px solid var(--color-primary-grey-70);
          background-color: transparent;
          color: var(--color-hisense-black);
          font-size: var(--size-14);
          line-height: 1.4;
          font-weight: var(--fontweight-medium);
          cursor: pointer;
        }
      }
    }

    .recall-info-no-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--size-16);
      margin-top: var(--size-48);

      .page-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--size-48);
        padding: 0 var(--size-32);
        border-radius: var(--size-100);
        border: 1px solid var(--color-primary-grey-70);
        background-color: transparent;
        color: var(--color-hisense-black);
        font-size: var(--fontsize-body2);
        line-height: 1.5;
        font-weight: var(--fontweight-medium);
        cursor: pointer;
      }
    }
  }
}
