.video-container .video-wrapper {
  max-width: unset;
  padding: 0;
  background-color: black;
}

.video-content{
  display: flex;
  position: relative;
  width: 1120px;
  height: 630px;
  margin: auto;
}

.video-cover-image {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.video {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.video h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.video picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.video img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .video {
    padding: 40px 32px;
  }
}