
.key-features-card-container-wrapper {
  width: 100%;
}

.key-features-card-container-wrapper p{
  margin: 0;
  padding: 0;
}

.key-features-card-container .title >div:first-child{
  color: var(--color-primary-grey-10);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--fontsize-h2);
  margin-bottom: var(--large);

   @media (width < 860px) {
    font-size: var(--size-18);
    margin-bottom: var(--size-30);
  }
}

.key-features-card-container > ul {
  gap: var(--size-20);
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  @media (width >= 860px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (width < 860px) {
		overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* iOS 弹性滚动 */
    scroll-behavior: smooth; /* 平滑滚动 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    touch-action: pan-x pinch-zoom; /* 允许水平滑动和捏合缩放 */
    overscroll-behavior-x: contain; /* 防止滚动链 */
    grid-auto-flow: column;
    gap: var(--spacing-xs);
	}
}

.key-features-card-container > ul > li {
  font-family: var(--font-family);
  position: relative;
  border-radius: var(--border-radius-l);
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  aspect-ratio: 1;
  
   @media (width < 860px) {
    position: relative;
		width: 51.282vw !important;
    height: 58.9743vw;
    aspect-ratio: 1;
    transition: transform 0.3s;
    pointer-events: auto; /* 允许事件穿透到容器 */
    padding: var(--spacing-sm);

    /* -webkit-user-select: none; */
    user-select: none;
  }
}

.key-features-card-container .card-image {
  width: min(11.11111vw, 160px);
  height: min(12.4305vw, 179px);
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  
  @media (width < 860px) {
    width: 29.74358vw;   /* 116px in mobile */
    height: 33.33333vw;;  /* 130px in mobile */
  }
}

.key-features-card-container  > ul > li .card-image img {
  width: min(7.6388888, 110px);
  height: min(9.44444vw, 136px);

   @media (width < 860px) {
    width: 22.051281vw;   /* 86 in mobile */
    height: 27.179487vw;  /* 106 in mobile */
  }
}

.key-features-card-container .card-body{
  color: var(--color-primary-grey-90);
  font-weight: var(--fontweight-book);
  font-family: var(--font-family);
  font-size: var(--fontzie-body1);
  line-height: 120%;
  margin-top: var(--spacing-2xs);
  text-align: center;

  @media (width < 860px) {
    line-height: 140%;
    font-size: var(--size-14);
  }
}




