.sic-wrapper {
  .store-information-card-wrapper {
    width: 100%;

    .store-information-card{
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs, 16px);
      border-radius: var(--size-20);
      border-radius: 20px;
      background: linear-gradient(0deg, var(--color-primary-grey-20, #F7F7F7) 0%, var(--color-primary-grey-20, #F7F7F7) 100%), #FFF;
      padding: var(--size-32);

      @media (width < 860px) {
        flex-direction: row;
        gap: var(--size-24);
        padding: var(--size-32);
       
      }
   
  }

  .list-card:not(:has(~ .list-card)) {
    border: none;
  }
  }

  .arrow.hide  {
    transform: rotate(-180deg);
      transition: transform 0.3s ease;
  }

  .block-wrapper{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-m, 32px);
    border-bottom: 1px solid var(--color-primary-grey-40, #bbb);

    @media (width < 860px) {
      gap: var(--spacing-s, 18px);
      grid-template-columns: 1fr;
    }
  }
}

.sic-wrapper:has(.arrow.hide) .block-wrapper {
  display: none;
}

.store-information-card-container{
  margin-top: 200px!important;
}