/* css */

.warning-note {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--size-20);
  background: #FFF8E5;
  padding: var(--size-24) var(--size-30);
  gap: var(--size-8);

  @media (width < 860px) {
    padding: var(--size-20) var(--size-24);
  }

  .note-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #A26311;
    line-height: 1.5;
    font-size: var(--fontsize-body2);
    font-weight: var(--fontweight-medium);
  }

  .note-context {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
    font-size: var(--fontsize-body2);
    line-height: 1.5;
    color: #A26311;

    @media (width < 860px) {
      font-size: var(--size-14);
      line-height: 1.5;
    }

    ol {
      padding-left: var(--size-16);
    }

    a {
      color: var(--color-primary-green-60);
      text-decoration: underline;
    }


    .collapse-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-self: flex-start;
      height: var(--size-40);
      margin-top: var(--size-32);
      padding: 0 var(--size-24);
      border-radius: var(--size-100);
      background-color: var(--color-primary-green-60);
      color: #fff;
      font-size: var(--fontsize-body2);
      line-height: 1.5;
      font-weight: var(--fontweight-medium);
      cursor: pointer;

      @media (width < 860px) {
        margin-top: var(--size-30);
      }

      &:hover {
        background-color: var(--color-primary-green-50);
        color: #fff;
      }

      &:active {
        color: var(--white-alpha-80);
        background-color: var(--color-primary-green-70);
      }

      &.hide {
        display: none;
      }
    }
  }
}