.parallax-container {
	position: relative;
	height: 400vh;
	overflow: hidden;
}

.parallax {
	position: relative;
}

.parallax-image-container {
	padding: 40px;
}

.text-overlay {
	position: absolute;
	top: 100vh;
	left: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	z-index: 10;
	pointer-events: none;
}

.gradient-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgb(0 0 0 / 50%);
	opacity: 0;
	z-index: 5;
	pointer-events: none;
}
