.section.tech-evolution-timeline-container {
  background: linear-gradient(180deg, var(--white-alpha-white-10, rgb(255 255 255 / 10%)) 60.24%, var(--color-primary-grey-10) 106.27%), var(--color-primary-green-10) !important;

  .module-title-wrapper {
    max-width: var(--container-max-width);
    padding: 0 var(--common-padding);
    margin: 0 auto;
  }
}

.tech-evolution-timeline {
  position: relative;

  p {
    margin: 0;
  }

  .timeline-wrapper, .tech-card-wrapper {
    max-width: var(--container-max-width);
    padding: 0 var(--common-padding);
    margin: 0 auto;
  }

  .time-green-line {
    height: 1px;
    width: 100%;
    background: var(--color-primary-green-50);
    position: absolute;
  }

  .timeline-wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--size-24);
    text-align: center;
    margin-bottom: var(--size-48);

    .timeline-dot {
      width: var(--size-20);
      height: var(--size-20);
      border-radius: var(--size-10);
      margin: auto;
      position: relative;
      top: max(calc(-10 / var(--breakpoint-pc) * 100vw), -10px);

      img {
        position: absolute;
        left: 0;
      }
    }

    .timeline-year {
      font-size: var(--size-30);
      line-height: var(--size-36);
      font-weight: var(--fontweight-medium);
      color: var(--color-primary-grey-90);
      margin-bottom: var(--size-8);
    }

    .timeline-title {
      font-size: var(--size-16);
      line-height: var(--size-24);
      font-weight: var(--fontweight-medium);
      color: var(--color-primary-grey-90);
      margin-bottom: var(--size-8);
    }

    .timeline-description {
      font-size: var(--size-14);
      line-height: var(--size-21);
      font-weight: var(--fontweight-book);
      color: var(--color-primary-grey-50);

      /* margin-bottom: var(--size-8); */
    }
  }

  .tech-card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-29);

    .component-tech-card {
      position: relative;
      border-radius: var(--size-16);
      overflow: hidden;
      aspect-ratio: 1 / 1;
      padding: var(--size-48);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      .background-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      .tech-card-info {
        position: relative;
        z-index: 6;

        .image-box {
          width: var(--size-80);
          height: var(--size-80);
          margin: 0 auto var(--size-48);

          img {
            width: 100%;
            height: 100%;
          }
        }

        .category-title {
          font-size: var(--size-24);
          line-height: min(calc(28.8 / var(--breakpoint-pc) * 100vw), 28.8px);
          font-weight: var(--fontweight-medium);
          color: var(--color-primary-grey-10);
          margin-bottom: var(--size-16);
        }

        .description-style {
          font-size: var(--size-14);
          line-height: var(--size-21);
          font-weight: var(--fontweight-book);
          color: var(--color-primary-grey-10);
        }
      }
    }
  }
}