.plp-products-box {
    flex: 1;
}
.plp-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 24px;
}
.plp-product-card {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}
.plp-product-card-title {
    width: 65px;
    height: 20px;
    margin-bottom: 8px;
}
.plp-product-img {
    width: 100%;
    height: 120px;
    background: #f0f0f0; /* 图片占位 */
    margin-bottom: 20px;
}
.plp-product-series {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 170, 166, 1);
    height: 20px;
    line-height: 20px;
}
.plp-product-name {
    font-size: 20px;
    font-weight: 500;
    height: 26px;
    line-height: 26px;
}
.plp-product-sizes {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.plp-product-size {
    padding: 0 8px;
    height: 25px;
    border: 1px solid rgba(204, 204, 204, 1);
    color: rgba(102, 102, 102, 1);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.plp-product-size.selected {
    border-color: rgba(51, 51, 51, 1);
    color: rgba(51, 51, 51, 1);
}
.plp-product-btn {
    padding: 0 14px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 15px;
    background: transparent;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    height: 30px;
}