.additional-support-card-wrapper {
  width: 100%;
}

.additional-support-card {
  display: grid;
  gap: var(--spacing-3-xl, 48px) var(--spacing-l, 24px);
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;

  @media (width<640px) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l, 24px);
    align-items: stretch;
  }

  .additional-support-card-item {
    border: 1px solid var(--stroke-light-gray, "E0E0E0");
    border-radius: var(--border-radius-xl, 20px);
    padding: var(--spacing-1-xl, 32px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: min(calc(349 / var(--breakpoint-pc) * 100vw), 349px);

    @media (width < 640px) {
      min-height: calc(333 / var(--breakpoint-mobile) * 100vw);
    }

    .top {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-l, 24px);

      .icon {
        border-radius: var(--border-radius-m-l, 12px);
        background-color: var(--background-light-green, #edfcfb);
        width: var(--size-80, 80px);
        height: var(--size-80, 80px);
        display: flex;
        justify-content: center;
        align-items: center;

        @media (width < 640px) {
          width: var(--size-64, 64px);
          height: var(--size-64, 64px);
        }
      }

      .icon picture {
        @media (width < 640px) {
          width: var(--size-40);
          height: var(--size-40);
        }
      }

      .icon img {
        width: var(--size-40);
        height: var(--size-40);

        @media (width < 640px) {
          width: var(--size-40);
          height: var(--size-40);
        }
      }

      .title-container {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-l, 24px);

        .title {
          font-size: var(--title-l-font-size, 20px);
          color: var(--text-black-title, #000);
          font-weight: var(--fontweight-medium, 500);
          line-height: var(--title-l-line-height, 24px);
          letter-spacing: 0;
          text-transform: capitalize;
        }

        .subtitle {
          font-size: var(--body-s-bold-font-size, 14px);
          color: var(--text-gray-supporting-text, #747474);
          line-height: var(--body-s-bold-line-height, 21px);
          font-weight: var(--fontweight-book, 400);
          letter-spacing: 0;
        }
      }

      .time-phone-container {
        display: flex;
        flex-direction: column;

        .time-container {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          & p {
            color: var(--text-black-title, #000);
            line-height: var(--body-s-bold-line-height, 21px);
            font-size: var(--body-s-bold-font-size, 14px);
            font-style: normal;
            font-weight: var(--fontweight-medium, 500);
          }
        }

        .contact-info-container {
          display: flex;
          align-items: center;

          .contact-info {
            display: flex;
            align-items: center;
            font-size: var(--body-s-bold-font-size, 14px);
            font-weight: var(--fontweight-medium, 500);
            color: var(--text-black-title, #000);
            line-height: var(--body-s-bold-line-height, 21px);
            word-break: break-all;
          }

          .contact-info a {
            color: var(--text-black-title, #000);
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
          }
        }
      }
    }

    .link {
      cursor: pointer;
      margin-top: var(--spacing-1-xl, 32px);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: 0 var(--spacing-l, 24px);
      box-sizing: border-box;
      width: fit-content;
      min-width: min(calc(120 / var(--breakpoint-pc) * 100vw), 120px);
      min-height: var(--size-40, 40px);
      border-radius: var(--border-radius-xxl, 80px);
      font-size: var(--body-s-bold-font-size, 14px);
      font-weight: var(--fontweight-medium, 500);
      line-height: var(--body-s-bold-line-height, 21px);

      @media (width<640px) {
        display: flex;
        width: 100%;
      }
    }

    .button-hidden {
      @media (width>=640px) {
        display: none;
      }
    }

    .button-white {
      border: 1px solid var(--action-secondary-content-default, #000);
      color: var(--action-secondary-content-default, #000);
    }

    .button-white:hover {
      @media (width>=640px) {
        background-color: var(--action-secondary-color-hovered, #333);
        color: var(--action-secondary-content-hovered, #fff);
        border: none;
      }
    }

    .button-white:active {
      background-color: var(--action-secondary-color-pressed, #000);
      color: var(--action-secondary-content-pressed, #fff);
      border: none;
    }

    .button-green60 {
      background-color: var(--action-primary-color-default, #008482);
      color: var(--action-primary-content-default, #fff);
    }

    .button-green60:hover {
      @media (width>=640px) {
        background-color: var(--action-primary-color-hovered, #009f9c);
        color: var(--action-primary-content-hovered, #fff);
      }
    }

    .button-green60:active {
      background-color: var(--action-primary-color-pressed, #005a5c);
      color: var(--action-primary-content-pressed, #fff);
    }
  }
}

.additional-support-card p {
  margin: 0;
}

.additional-support-card p.highlight {
  margin: 0;
  display: flex;
  align-items: center;
}
