main > .section:first-of-type {
    margin: 0;
}

main > .section > div {
    max-width: 100%;
}

.carousel-container .carousel-wrapper,
.carousel-items-container {
    height: 860px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
}

.carousel .carousel-items-container {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.carousel .carousel-items::-webkit-scrollbar {
    display: none;
}

.carousel .carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel .carousel-item .carousel-item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 860px;
}

.carousel .carousel-item .carousel-item-image picture {
    inset: 0;
    height: 100%;
}

.carousel .carousel-item .carousel-item-image picture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-item .carousel-item-content,
.carousel .carousel-item .carousel-item-cta {
    z-index: 1;
    margin-left: 120px;
    color: var(--background-color);
    position: relative;
    width: auto;
}

.carousel .carousel-item .carousel-item-content {
    margin-top: 200px;
}

.carousel .carousel-item .carousel-item-content h5{
    color: #00AAA6;
}

.carousel .carousel-item .carousel-item-content h1,
.carousel .carousel-item .carousel-item-content h2,
.carousel .carousel-item .carousel-item-content h3,
.carousel .carousel-item .carousel-item-content h4,
.carousel .carousel-item .carousel-item-content p {
    color: var(--background-color);
}

.carousel .carousel-item .carousel-item-cta {
    width: 320px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carousel .carousel-item-indicators {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 0;
    padding: 0;
    height: 60px;
    width: 100%;
    list-style: none;
}

.carousel .carousel-item-indicators.active {
    width: 68px;
    height: 8px;
    border-radius: 100%;
}

.carousel .carousel-item-indicator button {
    width: 8px;
    height: 8px;
    opacity: 0.42;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    transition: background-color 0.2s;
}

.carousel .carousel-item-content .button-container {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    gap: 10px;
}

.carousel .carousel-item-cta .button-container .button {
    width: 144px;
    line-height: 52px;
    text-align: center;
    border: 1px solid var(--background-color);
    color: var(--background-color);
    background-color: transparent;
}

.carousel .carousel-item-cta .button-container .button.active {
    background-color: #00AAA6;
    border-color: #00AAA6;
    color: white;
}

.carousel .carousel-item-indicator button:disabled {
  width: 68px;
  opacity: 1;
  background-color: var(--background-color);
}

.light .carousel-item-indicator button:disabled {
  background-color: var(--color-hisense-green-02);
}

.carousel .carousel-item-indicator button:hover,
.carousel .carousel-item-indicator button:focus-visible {
    opacity: 1;
}
