.carousel-container {
    height: 860px;
    width: 100%;
}

.carousel {
    position: relative;
    height: 100%;
}

.carousel-container .carousel-wrapper,
.carousel .carousel-items,
.carousel-items-container {
    height: 100%;
}

.carousel .carousel-items,
.carousel .carousel-item-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel .carousel-items {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.carousel .carousel-items::-webkit-scrollbar {
    display: none;
}

.carousel .carousel-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
}

.carousel .carousel-item .carousel-item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 860px;
}

.carousel .carousel-item .carousel-item-image picture {
    inset: 0;
    height: 100%;
}

.carousel .carousel-item .carousel-item-image picture > img {
    width: 100%;
    height: 100%;

    /* background-size: cover; */

    /* background-repeat: no-repeat; */
    object-fit: cover;
}

.carousel .carousel-item .carousel-item-content {
    z-index: 1;
    margin: 0 0 0 120px;
    padding: 16px;
    color: var(--background-color);
    position: relative;
    width: var(--item-content-width, auto);
}

.carousel-container .carousel-indicators {
    position: absolute;
    bottom: -25px;
    height: 58px;
    width: 100%;
}

.carousel .carousel-item-indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 12px;
    line-height: 0;
}

.carousel .carousel-item-indicators.active {
    width: 68px;
    height: 8px;
    border-radius: 100%;
}

.carousel .carousel-item-indicator button {
    width: 8px;
    height: 8px;
    opacity: 0.42;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: #FFF;
    transition: background-color 0.2s;
}

.carousel .carousel-item-content .button-container {
    display: inline-block;
}

.carousel .carousel-item-indicator button:disabled,
.carousel .carousel-item-indicator button:hover,
.carousel .carousel-item-indicator button:focus-visible {
    background-color: var(--text-color);
}

.carousel .carousel-navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    right: 12px;
    display: none;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel .carousel-navigation-buttons button {
    position: relative;
    width: 44px;
    height: 44px;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    background-color: rgb(19 19 19 / 25%);
    transition: background-color 0.2s;
}

.carousel .carousel-navigation-buttons button:hover,
.carousel .carousel-navigation-buttons button:focus-visible {
    background-color: rgb(19 19 19 / 75%);
}

.carousel .carousel-navigation-buttons button::after {
    display: block;
    content: '';
    border: 2px solid;
    border-bottom: 0;
    border-left: 0;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel .carousel-navigation-buttons button.slide-next::after {
    transform: translate(-50%, -50%) rotate(45deg);
    left: calc(50% - 2px);
}

@media (width >= 600px) {
    .carousel .carousel-navigation-buttons {
        left: 24px;
        right: 24px;
    }

    .carousel .carousel-item .carousel-item-content[data-align='justify'] {
        --item-content-width: auto;
    }
}
