.page-header-wrapper {
  @media (width >= 860px) {
    padding: 0 !important;
  }

  @media (width < 860px) {
    padding-top: 112px !important;
  }
}

.text-green-50 {
  color: var(--color-primary-green-50, #009f9c);
}

.text-black {
  color: var(--color-primary-grey-100, #000);
}

.page-header-title {
  text-align: center;
  font-size: var(--fontsize-pc-h1, 46px);
  font-weight: var(--fontweight-medium, 500);
  line-height: 1.2;
  text-transform: capitalize;

  @media (width<860px) {
    font-size: var(--fontsize-h3, 30px);
  }
}

.page-header-subtitle {
  margin-top: var(--spacing-sm, 24px);
  color: var(--color-primary-grey-70, #333);
  text-align: center;
  font-size: var(--font-size-normal, 24px);
  font-weight: var(--fontweight-medium, 500);
  line-height: 1.2;

  @media (width<860px) {
    margin-top: var(--spacing-xs, 16px);
    font-size: var(--size-16, 16px);
    line-height: 1.3;
  }
}

.page-header p {
  margin: 0;
}
