.search-box-wrapper {
  width: 100%;

  @media (width >= 860px) {
    padding: 0 !important;
  }
}

.search-box .out-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: var(--spacing-sm, 24px);

  @media (width<860px) {
    gap: var(--spacing-s, 18px);
  }
}

.search-box .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-primary-grey-40, #bbb);
  border-radius: var(--size-100, 100px);
  padding: 0 var(--spacing-m, 32px);
  height: var(--size-66, 66px);
  background: var(--color-white, #fff);

  @media (width<860px) {
    padding: 0 var(--spacing-sm, 24px);
    height: var(--size-52, 52px);
  }
}

.search-box .input-wrapper:focus-within {
  @media (width>=860px) {
    border: 2px solid var(--color-primary-green-50, #009f9c);
  }
}

.search-box .popup-input-wrapper:focus-within {
  border: 2px solid var(--color-primary-green-50, #009f9c);
}

.search-box .icon-search {
  margin-right: var(--spacing-xs, 16px);
}

.search-box .icon-search img {
  width: var(--size-24, 24px);
  filter: brightness(0) saturate(100%) invert(50%);
}

.search-box .search-box-input {
  padding-top: var(--size-5, 5px);
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--fontsize-title2, 20px);
  color: var(--color-primary-grey-100, #000);
  min-width: 0;
  height: var(--size-24, 24px);
  line-height: 1.2;
  text-overflow: ellipsis;

  @media (width<860px) {
    font-size: var(--fontsize-body1, 16px);
    line-height: 1.3;
  }
}

.search-box .search-box-input::placeholder {
  color: var(--color-primary-grey-40, #bbb);
}

.search-box .search-box-clear {
  max-width: var(--size-24, 24px);
  height: var(--size-24, 24px);
  display: none;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search-box .search-box-clear.visible {
  display: flex;
}

.search-box .quick-link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-s, 18px) var(--spacing-2xs, 12px);

  @media (width<860px) {
    justify-content: flex-start;
  }
}

.search-box .suggestion-label {
  color: var(--color-primary-grey-50, #747474);
  text-align: center;
  font-size: var(--fontsize-body3, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.35px;
  text-transform: capitalize;

  @media (width<860px) {
    width: 100%;
    text-align: left;
  }
}

.search-box .quick-link {
  background-color: var(--color-primary-grey-20, #f7f7f7);
  border-radius: var(--size-100, 100px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fontsize-body1, 16px);
  line-height: 1.5;
  color: var(--color-primary-grey-70, #333);
  padding: var(--spacing-3xs, 8px) var(--spacing-sm, 24px);

  @media (width<860px) {
    font-size: var(--fontsize-body2, 14px);
    padding: var(--spacing-3xs, 8px) var(--spacing-s2, 20px);
  }
}

.search-box .popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  z-index: 9999;
  display: none;
}

.search-box .popup-wrapper.visible {
  display: block;
}

.search-box .popup-search-wrapper {
  padding: var(--spacing-xl, 48px) var(--spacing-s, 18px);
  background-color: var(--color-primary-grey-10, #fff);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-s, 18px);
}
