.collectionsection-container .collectionsection-wrapper {
  max-width: unset;
  padding: 0;
}

.collectionsection {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}


@media (width >= 900px) {
  .collectionsection {
    padding: 40px 32px;
  }
}