.collectionsection-container .collectionsection-wrapper {
  max-width: unset;
  padding: 0;
}

.collectionsection {
  position: relative;
 
}

.collectionsection:first-child {
   color: #00AAA6;
   font-size: 16px;
  }
  
.collectionsection:last-child {
    font-size: 34px;
    color: #333;
    margin-top: 10px;
  }