.collectionsection-container .collectionsection-wrapper {
  width: 1120px;
  margin: 20px auto;
  max-width: unset;
  padding: 0;
}

.collectionsection {
  position: relative;
 
}

[data-aue-prop="title"] {
  color: #00AAA6;
   font-size: 16px;
}

.collectionsection div:last-child div p{
    font-size: 34px;
    color: #333;
    margin-top: 10px;
  }