/* 页面部分样式 */
main .section.article-body-container .article-body-wrapper {
  display: flex;
  justify-content: center;
  margin-top: var(--size-48);
  
  .article-body {
    width: min(calc(800 / var(--breakpoint-pc) * 100vw), 800px);
    display: flex;
    flex-direction: column;
    gap: var(--size-48);
    color: var(--color-primary-grey-70);
    
    @media (width < 860px) {
      width: 100%;
      gap: var(--size-24);
    }
    
    * {
      margin: 0;
      padding: 0;
    }
    
    .text-body-headerline {
      width: 100%;
      color: var(--color-hisense-black);
      line-height: var(--size-28);
      font-size: var(--fontsize-title2);
      font-weight: var(--fontweight-medium);
    }
    
    .text-body-image {
      width: 100%;
      
      img {
        border-radius: var(--radius-lg);
        overflow: hidden;
        width: 100%;
      }
    }
    
    .text-body-content {
      width: 100%;
      font-size: var(--fontsize-body1);
      font-weight: var(--fontweight-book);
      line-height: 1.6;
    }
    
    .text-body-group-flexend {
      display: flex;
      flex-direction: row-reverse;
      gap: var(--size-48);
      
      @media (width < 860px) {
        flex-direction: column;
        gap: var(--size-24);
      }
      
      .text-body-img-group {
        width: 100%;

        img {
          border-radius: var(--radius-lg);
          overflow: hidden;
          width: 100%;
        }
      }
      
      .text-body-text-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--size-8);

        @media (width < 860px) {
          gap: var(--size-12);
        }
        
        .text-body-title {
          color: var(--color-hisense-black);
          line-height: 1.2;
          font-size: var(--fontsize-title2);
          font-weight: var(--fontweight-medium);
        }
        
        .text-body-desc {
          font-size: var(--fontsize-body1);
          font-weight: var(--fontweight-book);
          line-height: 1.6;
        }
      }
    }
    
    .text-body-quote {
      width: 100%;
      background: var(--color-primary-green-10);
      position: relative;
      padding: var(--size-32) var(--size-80);
      border-radius: var(--radius-lg);
      font-size: var(--fontsize-title2);
      font-weight: var(--fontweight-medium);
      line-height: 1.2;
      color: var(--color-primary-green-50);
      display: flex;
      flex-direction: column;
      gap: var(--size-16);
      
      @media (width < 860px) {
        padding: var(--size-60) var(--size-24) var(--size-24);
      }
      
      .quotation {
        position: absolute;
        top: var(--size-30);
        left: var(--size-32);
        width: var(--size-24);

        @media (width < 860px) {
          top: var(--size-24);
          left: var(--size-24);
        }
      }
      
      .text-body-quote-notes {
        color: var(--color-primary-grey-70);
        font-size: var(--fontsize-body1);
        font-weight: var(--fontweight-book);
        line-height: 1.5;
      }
    }
  }
}