.tech-information {
  display: flex;
  border-radius: var(--size-20);
  overflow: hidden;
  height: 600px;
  flex-direction: row-reverse;

   &.img-left {
    flex-direction: row;
  }

  p {
    margin: 0;
  }

  .tech-img-wrapper {
    width: 520px;
    height: 100%;

    .tech-img-box {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .tech-info-container {
    background: var(--color-primary-grey-20);
    padding: var(--size-48);
    flex: 1;

    .tech-text-wrapper {
      max-width: 100%;
      margin-bottom: var(--size-32);

      .tech-info-title {
        font-size: var(--size-16);
        font-weight: var(--fontweight-medium);
        line-height: var(--size-24);
        color: var(--color-primary-green-60);
        margin-bottom: var(--size-8);
      }

      .tech-info-subtitle {
        font-size: var(--size-30);
        font-weight: var(--fontweight-medium);
        color: var(--color-primary-grey-100);
        margin-bottom: var(--size-20);
      }

      .tech-info-text {
        font-size: var(--size-16);
        font-weight: var(--fontweight-book);
        color: var(--color-primary-grey-70);
      }
    }

    .tech-item-wrapper {
      &.icon-style {
        .tech-item-box {
          display: flex;
          align-items: center;
          margin-bottom: var(--size-32);

          .tech-item-icon {
            width: var(--size-40);
            height: var(--size-40);
          }

          .tech-item-text-content {
            p:first-child {
              font-size: var(--size-16);
              font-weight: var(--fontweight-medium);
              color: var(--color-primary-grey-90);
              margin-bottom: var(--size-4);
            }

            p:nth-child(2) {
              font-size: var(--size-14);
              font-weight: var(--fontweight-book);
              color: var(--color-primary-grey-60);
          }
        }
      }

      &.stats-style {
        display: flex;
        gap: var(--size-24);

        .tech-img-box {
          width: var(--size-240);
          height: var(--size-96);
          background-color: var(--color-primary-grey-10);
          border-radius: var(--size-20);
          padding: var(--size-20);
          text-align: center;

          p:first-child {
            font-size: var(--size-23);
            font-weight: var(--fontweight-medium);
            color: var(--color-primary-green-50);
            margin-bottom: var(--size-8);
          }

          p:nth-child(2) {
            font-size: var(--size-16);
            font-weight: var(--fontweight-book);
            color: var(--color-primary-grey-50);
          }
        }
      }
    }
  }
}

.tech-information.img-left {
  flex-direction: row;
}}