@import url('../tech-items/tech-items.css');

.tech-information {
  display: flex;
  border-radius: var(--border-radius-xl);
  overflow: hidden;
  max-height: min(calc(787 / var(--breakpoint-pc) * 100vw), 787px);
  flex-direction: row-reverse;

   &.img-left {
    flex-direction: row;
  }

  p {
    margin: 0;
  }

  .tech-img-wrapper {
    /* width: min(calc(520 / var(--breakpoint-pc) * 100vw), 520px); */
    width: 46.428%;
    height: auto;

    .tech-mobile-img {
      display: none;
    }

    .tech-pc-img {
      width: 100%;
      height: 100%;
    }

    .tech-img-box {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .tech-info-container {
    /* width: min(calc(600 / var(--breakpoint-pc) * 100vw), 600px); */
    width: 53.571%;
    background: var(--background-light-gray-subtle);
    padding: var(--spacing-2-xl) var(--spacing-1-xl);
    display: flex;
    flex-direction: column;

    .tech-text-wrapper {
      max-width: 100%;

      .tech-info-title {
        font-size: var(--label-eyebrow-font-size);
        font-weight: var(--fontweight-medium);
        line-height: var(--label-eyebrow-line-height);
        color: var(--text-green);
        margin-bottom: var(--spacing-xs);
        text-transform: uppercase;
      }

      .tech-info-subtitle {
        font-size: var(--heading-l-font-size);
        font-weight: var(--fontweight-medium);
        color: var(--text-black-title);
        margin-bottom: var(--spacing-m);
        line-height: var(--heading-l-line-height);
      }

      .tech-info-text {
        font-size: var(--body-l-font-size);
        font-weight: var(--fontweight-book);
        color: var(--text-dark-gray-body-text);
        line-height: var(--body-l-line-height);
      }
    }

    .tech-cta-wrapper {
      margin-top: var(--spacing-1-xl);

      .cta-button {
        padding: 0 var(--spacing-1-xl);
        height: var(--size-50);
        line-height: var(--body-s-bold-line-height);
        display: inline-flex;
        align-items: center;
        background-color: var(--action-primary-color-default);
        color: var(--action-primary-content-default);
        font-size: var(--body-s-bold-font-size);
        font-weight: var(--fontweight-medium);
        border-radius: var(--border-radius-xxl);
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: var(--action-primary-color-hovered);
        }

        &:active {
          background-color: var(--action-primary-color-pressed);
          color: var(--action-primary-content-pressed);
        }
      }
    }
  }

  .tech-information.img-left {
    flex-direction: row;
  }
}

@media (width < 640px) {
  .tech-information {
    flex-direction: column;
    max-height: unset;
    border-radius: var(--border-radius-l);

    .tech-img-wrapper {
      width: 100%;
      height: calc(236 / var(--breakpoint-mobile) * 100vw);

      .tech-mobile-img {
        display: block;
      }

      .tech-pc-img {
        display: none;
      }
    }

    .tech-info-container {
      width: 100%;
      height: auto;
      padding: var(--spacing-l) var(--spacing-m-l) var(--spacing-1-xl);

      .tech-cta-wrapper {
        margin-top: var(--spacing-l);

        .cta-button {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  .tech-information.img-left {
    flex-direction: column;
  }
}