.image-carousel {
  position: relative;
  color: #fff;
}

.image-carousel > div:nth-child(1) {
  color: var(--color-hisense-teal);
  font-size: 20px;
  line-height: 1;
}

.image-carousel > div:nth-child(2) {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;

  p {
    margin-top: 10px;
  }
}

.image-carousel ul{
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease-in-out;
}

.image-carousel ul>li {
  box-sizing: border-box;
  list-style: none;
  border-radius: 20px;
  flex-shrink: 0;
  background: linear-gradient(45deg, #fff, var(--color-hisense-teal));
}

.image-carousel.left-bottom-style {
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 458px;
    height: 340px;
    padding: 30px 0;
    box-sizing: border-box;
    text-align: center;

    .item-picture {
      flex: 0 0 100%;

      img {
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
      }
    }

    .item-cta {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: left;

      .button-container {
        font-size: 12px;

        a {
          border: 2px solid #fff;
          border-top: transparent;
          border-left: transparent;
          border-right: transparent;
          border-radius: 0;
          background-color: transparent;
        }
      }
    }
  }
}
