
.industry-categories-wrapper {
  width: 100%;
}

.industry-categories-wrapper .title >div:first-child{
  color: var(--color-primary-green-50);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-20);

   @media (width < 860px) {
   font-size: var(--size-18);
  }
}

.industry-categories-wrapper .title >div:nth-child(2){
  color: var(--color-primary-grey-90);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-46);
  margin: var(--spacing-sm) 0 var(--spacing-xl);

   @media (width < 860px) {
    font-size: var(--size-24);
    margin: var(--spacing-3xs) 0 var(--size-32);
  }

}

.industry-categories-wrapper .title > div:nth-child(3){
  color: var(--color-primary-grey-90);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-46);
  margin: var(--spacing-sm) 0 var(--spacing-xl);

   @media (width < 860px) {
    font-size: var(--size-24);
    margin: var(--spacing-3xs) 0 var(--size-32);
  }
}

.industry-categories > ul {
  gap: var(--size-16);
  display: grid;
  grid-auto-flow: column;
  padding: 20px;
  margin: 0;
  list-style: none;
  width: fit-content; /* 自适应宽度 */
  transition: grid-template-columns 0.3s ease;
  grid-auto-rows: 1fr;

  @media (width < 860px) {
    width:unset;
		overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* iOS 弹性滚动 */
    scroll-behavior: smooth; /* 平滑滚动 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    touch-action: pan-x pinch-zoom; /* 允许水平滑动和捏合缩放 */
    overscroll-behavior-x: contain; /* 防止滚动链 */
    grid-auto-flow: column;
    gap: var(--spacing-xs);
	}
}

.industry-categories > ul > li {
   position: relative;
   font-family: var(--font-family);
   width: 100%;
   height: 100%;

   @media (width < 860px) {
    position: relative;
    transition: transform 0.3s;
    pointer-events: auto; 

    /* -webkit-user-select: none; */
    user-select: none;
  }
}

.industry-categories  .card-item {
  min-height: 150px;
  max-height: 500px;
  background: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  width: min(12.0833333vw, 174px);
    @media (width < 860px) {
        width:20vw;
      }

}

.industry-categories .card-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
}

.industry-categories .active {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
  width: min(25vw, 369px) ;
   @media (width < 860px) {
    width:50vw;
  }
}

.industry-categories .card-body {
  font-size: var(--size-20);

  @media (width >= 860px) {
    font-size: var(--size-24);
  }
}


.industry-categories  > ul > li .card-image {
  position: absolute;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);

}

.industry-categories  > ul > li img {
  width: 100%;
  height: 100%;
}





