
.industry-categories-wrapper {
  width: 100%;
}

.industry-categories-wrapper p,
.industry-categories-wrapper h1,
.industry-categories-wrapper h2,
.industry-categories-wrapper h3,
.industry-categories-wrapper h4,
.industry-categories-wrapper h5,
.industry-categories-wrapper h6{
  margin: 0;
  padding: 0;
}

.core-value-card .title >div:first-child{
  color: var(--color-primary-green-50);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-20);

   @media (width < 860px) {
   font-size: var(--size-18);
  }
}

.core-value-card .title >div:nth-child(2){
  color: var(--color-primary-grey-90);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-46);
  margin: var(--spacing-sm) 0 var(--spacing-xl);

   @media (width < 860px) {
    font-size: var(--size-24);
    margin: var(--spacing-3xs) 0 var(--size-32);
  }

}

.core-value-card .title > div:nth-child(3){
  color: var(--color-primary-grey-90);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-46);
  margin: var(--spacing-sm) 0 var(--spacing-xl);

   @media (width < 860px) {
    font-size: var(--size-24);
    margin: var(--spacing-3xs) 0 var(--size-32);
  }

}

.industry-categories > ul {
  gap: var(--spacing-sm);
  display: grid;
  grid-auto-flow: column;
  padding: 20px;
  margin: 0;
  list-style: none;
  width: fit-content; /* 自适应宽度 */
  transition: grid-template-columns 0.3s ease;

  @media (width < 860px) {
		overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* iOS 弹性滚动 */
    scroll-behavior: smooth; /* 平滑滚动 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    touch-action: pan-x pinch-zoom; /* 允许水平滑动和捏合缩放 */
    overscroll-behavior-x: contain; /* 防止滚动链 */
    grid-auto-flow: column;
    gap: var(--spacing-xs);
	}
}

.industry-categories > ul > li {
   aspect-ratio: 1;
   font-family: var(--font-family);
   width: 100%;

   @media (width < 860px) {
    /* flex: 0 0 auto;  */
    position: relative;
		width: 100px !important;
    height: 100px;
    aspect-ratio: 1;
    transition: transform 0.3s;
    pointer-events: auto; /* 允许事件穿透到容器 */

    /* -webkit-user-select: none; */
    user-select: none;
  }
}

.industry-categories  .card-item {
   min-height: 150px;
  background: #f5f5f5;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  width: min(6.9vw, 100px)
}

.industry-categories .card-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
}

.industry-categories .active {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
  width: min(13.6vw, 200px) ;
}

.industry-categories-card-body > p,
.industry-categories-card-body > h6{
  font-size: var(--size-20);

  @media (width >= 860px) {
    font-size: var(--size-24);
  }
}

.touch-start img {
   transform: scale(1.1);
}

.touch-end img {
   transform: scale(1);
}

.industry-categories  .industry-categories-card-body{
  width: 100%;
  text-align: center;
  color: #000;
}

.industry-categories  > ul > li .industry-categories-card-image {
  width: 46.154vw;
  height: 46.154vw;;
  object-fit: contain;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);

  @media (width >= 860px) {
    width: min(14.7222222vw, 212px);
    height: min(14.7222222vw, 212px);
  }
}

.industry-categories  > ul > li img {
  width: 100%;
  height: 100%;
}





