
.industry-categories-wrapper {
  width: 100%;
}

.industry-categories-wrapper  p{
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

.industry-categories-wrapper .title p:first-child,
[data-aue-prop="title_title"]{
  color: var(--color-primary-green-50);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-20);

   @media (width < 640px) {
   font-size: var(--size-18);
  }
}

.industry-categories-wrapper .title p:nth-child(2){
  color: var(--color-primary-grey-90);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-46);
  margin: var(--spacing-sm) 0 var(--spacing-xl);

   @media (width < 640px) {
    font-size: var(--size-24);
    margin: var(--spacing-3xs) 0 var(--size-32);
  }

}

.industry-categories-wrapper .title p:nth-child(3){
  color: var(--color-primary-grey-90);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-46);
  margin: var(--spacing-sm) 0 var(--spacing-xl);

   @media (width < 640px) {
    font-size: var(--size-24);
    margin: var(--spacing-3xs) 0 var(--size-32);
  }
}

.industry-categories > ul {
  display: grid;
  gap: var(--size-16);
  grid-auto-flow: column;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  transition: grid-template-columns 0.5s ease;
  grid-auto-rows: 1fr;

  @media (width < 640px) {
    width:unset;
    overflow: auto visible;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* iOS 弹性滚动 */
    scroll-behavior: smooth; /* 平滑滚动 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    touch-action: pan-x pan-y pinch-zoom; /* 允许水平滑动和捏合缩放 */
    overscroll-behavior-x: contain; /* 防止滚动链 */
    grid-auto-flow: column;
    gap: var(--spacing-xs);
	}
}

.industry-categories > ul > li {
   position: relative;
   font-family: var(--font-family);
   width: 100%;
   height: 100%;

   @media (width < 640px) {
    position: relative;
    transition: transform 0.5s;
    pointer-events: auto; 

    /* -webkit-user-select: none; */
    user-select: none;
  }
}

.industry-categories  .card-item {
  border-radius: var(--size-16);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: var(--size-32) var(--size-16);
  color: var(--color-primary-grey-10);
  min-height: min(calc(460 / var(--breakpoint-pc) * 100vw), 460px);

  /* width: min(12.85714vw, 144px); */

  /* 6个卡片时的每个卡片宽度 12vw， 按照 144 / 1120 + gap总数 80 计算得出的vw值 */
  width: min(12vw, 144px);


  @media (width < 640px) {
    width: 33.8461vw;
    padding: var(--size-24) var(--size-12);
    border-radius: var(--size-12);
    height: auto;
  }
  
   @media (width >= 1440px) {
     width: min(10vw, 144px);
    
  }
}

/* 5个卡片时平铺整个内容区域 */
.industry-categories  .card-item:first-child:nth-last-child(5),
.industry-categories .card-item:first-child:nth-last-child(5) ~ .card-item {
  /* vww值计算规则 ： 174 / 1120 */
  width: min(12.08333333vw, 174px);
  min-width: 100%;

  @media (width < 640px) {
    width: 33.8461vw;
    padding: var(--size-24) var(--size-12);
    border-radius: var(--size-12);
  }
}

.industry-categories  .card-item.active:first-child:nth-last-child(5),
.industry-categories .card-item:first-child:nth-last-child(5) ~ .card-item.active {
  /* vww值计算规则 ： 360 / 1120 */
  width: min(32.1428571vw, 360px);

  @media (width < 640px) {
     width: calc(76.923vw);
     padding: var(--size-24)!important;
  }
}

.industry-categories .card-item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(255 255 255 / 40%) 0%, rgb(0 0 0 / 40%) 100%);
}


/* .industry-categories .card-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgb(0 0 0 / 10%);
} */

.industry-categories .active {
  box-shadow: 0 8px 20px rgb(0 0 0 / 10%);

  /* width: min(27.118644vw, 320px); */

  /* 展开时的vw值, 计算规则：按照 320 / 1120 + gap总数 80 计算得出，不管视口如何变化都可以铺满整个内容区域 */
  width: min(26.66666667vw, 320px);
 

   @media (width < 640px) {
     width: calc(76.923vw);
     padding: var(--size-24)!important;
  }
  
   @media (width >= 1440px) {
     width: min(22.222222vw, 320px);
  }
  
 }
 
.industry-categories .card-body {
  flex-direction: column;
  justify-content: start;
  align-items: center; 
  gap: var(--size-8);
  margin:var(--size-24) 0 0;
  visibility:hidden;
  display: flex;
  width: 76.923vw;

  @media (width >= 640px) {
    font-size: var(--size-24);
     gap: var(--size-12);
     margin:var(--size-48) 0 0;
     width: min(27.118644vw, 320px);
  }

   @media (width >= 1440px) {
     width: min(22.222222vw, 320px);
  }
  
}


.industry-categories .active .card-body {
   visibility: visible;
   width: 100% ;
   transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}


.industry-categories .card-body > div{
    background: rgb(20 20 20 / 60%);
    text-align: center;
    width: 100%;
    margin: auto;
    border-radius: var(--size-12);
    font-size: var(--size-14);
    font-weight: var(--fontweight-book);
    padding: var(--size-8) var(--size-16);
    overflow-wrap: break-word;

    &.item-hide {
      display: none;
    }

    &.card-item-text {
      cursor: default;
    }

    @media (width >= 640px) {
      padding: var(--size-8);
    }

    a, a.button, .button-container {
      min-height: var(--size-20);
      color: var(--color-primary-grey-10);
      background-color: transparent;
      line-height: var(--size-20);
      padding: 0;
      margin: 0;
      border-radius: 0;
      border: none;
      text-overflow: unset;
      white-space: unset;

      &:hover {
        color: var(--color-primary-grey-10);
        text-decoration: underline;
      }
    }
}


.industry-categories .active .card-body > div{
    z-index: 99;
    position: relative;
   
}

.industry-categories .card-title{
  z-index: 99;
  position: relative;
  color: var(--color-primary-grey-10);
  font-size: var(--size-20);
  line-height: 120%;
  font-weight: var(--fontweight-medium);
  width: var(--size-120);

  @media (width < 640px) {
    margin: auto;
    width: 100%;
    font-size: var(--size-16);
    text-align: center;
  }
}

.industry-categories .active .card-title{
  display: block;
  width: var(--size-142);
}

.industry-categories  > ul > li .card-image {
  position: absolute;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  p {
    width: 100%;
    height: 100%;
  }

  /* filter: blur(0px); */
  
  /* transform: scale(1); */
}

.industry-categories .active .card-image {
  filter: blur(5px);
  transform: scale(1.5);
}

.industry-categories  > ul > li img {
  width: 100%;
  height: 100%;
}





