.icon-component {
  position: relative;
}

.icon-viewport {
  overflow: hidden;
}

.icon-viewport ul{
  display: flex;
  gap: 24px;
  transition: transform 0.5s ease-in-out;
}

.icon-viewport ul>li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  list-style: none;
  border: 1px solid #8f8f8f;
  width: 210px;
  height: 200px;
  border-radius: 20px;
  gap: 20px;
  flex-shrink: 0;

  &:hover {
    width: 279px;
    margin-left: -30px;
    margin-right: -30px;
    z-index: 1;
    box-shadow: 0 5px 15px var(--color-hisense-grey-03);
  }
}

.item .item-picture {
  height: auto;
}

.item div>p {
  margin: 0;
}

.text-left {
  text-align: left;

  .icon-viewport ul>li {
    border: none;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-hisense-grey-04);
    padding: 20px;
    gap: 4px;

    .item-picture {
      height: auto;
      width: 100%;
    }

    p {
      text-align: left;
    }
  }
}

.pagination {
  position: absolute;
  top: -6px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 15px;

  button {
    position: relative;
    width: 28px;
    height: 28px;
    border: 1px solid var(--color-hisense-teal);
    color: var(--color-hisense-teal);
    background-color: white;
    margin: 0;
    border-radius: 50%;
    padding: 0;
    transition: background-color 0.2s;

    &::after {
      display: block;
      content: '';
      border: 2px solid;
      border-bottom: 0;
      border-left: 0;
      height: 8px;
      width: 8px;
      position: absolute;
      top: 50%;
      left: calc(50% + 2px);
      transform: translate(-50%, -50%) rotate(-135deg);
    }

    &.slide-next::after {
      transform: translate(-50%, -50%) rotate(45deg);
      left: calc(50% - 2px);
    }

    &:disabled {
      border-color: var(--color-hisense-grey-02);
      color: var(--color-hisense-grey-02);
    }
  }
}

.dark .pagination button {
  &:disabled {
    border-color: var(--color-hisense-grey-03);
  }
}

.item {
  height: 100%;
  padding: 30px 0;
  box-sizing: border-box;
}

.item>div {
  text-align: center;
}
