.icon-component {
  position: relative;
}

.icon-viewport {
  overflow: hidden;
}

.icon-viewport ul{
  display: flex;
  gap: 24px;
  transition: transform 0.5s ease-in-out;
}

.icon-viewport ul>li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  list-style: none;
  border: 1px solid #8f8f8f;
  width: 210px;
  height: 200px;
  margin: 5px;
  border-radius: 20px;
  gap: 20px;
  flex-shrink: 0;

  &:hover {
    width: 279px;
    margin-left: -30px;
    margin-right: -30px;
    z-index: 10;
    box-shadow: 0 5px 15px black;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 15px;

  button {
    width: 28px;
    height: 28px;
    border: 1px solid var(--color-hisense-teal);
    background-color: transparent;
    color: var(--color-white);
    margin: 0;
    padding: 0;
    border-radius: 50%;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-hisense-grey-04);
      color: var(--background-dark);
    }

    &:disabled {
      border-color: var(--color-hisense-grey-03);
      background-color: transparent;
      color: var(--color-white);
    }
  }
}

.item {
  height: 100%;
  padding: 30px 0;
  box-sizing: border-box;
}

.item>div {
  text-align: center;
  padding: 10px;
}

.item .item-picture {
  height: 80px;
  margin-bottom: 20px;
}

.item div>p {
  margin: 0;
}
