.collectionbanner-container .collectionbanner-wrapper {
   max-width: 1200px;
   height: 432px;
   border-radius: 8px;
   overflow: hidden;
   padding: 0;
   margin: 30px auto;
   position: relative;
}

.block.collectionbanner {
    .button-container {
        /* margin: 0;
        padding: 0; */

        .button {
            width: 128px;
            height: 48px;
            border-radius: 24px;
            background-color: transparent;
            color: #fff;
            font-size: 12px;
            line-height: 48px;
            text-align: center;
            border: 1px solid #fff;
        }
    }

    picture {
        position: absolute;
    }
}


