.card-grid-container {
  width: 100%;
  position: relative;
  min-height: min(calc(679 / var(--breakpoint-pc) * 100vw), 679px);
}

.card-grid {
  width: 100%;
  height: 100%;

  p {
    margin: 0;
  }

  .card-background {
    img {
      width: 100%;
    }
  }

  .feature-items-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-29);
    margin: auto;

    .feature-item-box {
      position: relative;
      border-radius: var(--size-16);
      overflow: hidden;
      aspect-ratio: 1 / 1;
      
      .item-img-box {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .item-text-box {
        position: relative;
        z-index: 3;
        color: var(--color-primary-grey-10);
        padding: var(--size-32) var(--size-24);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        
        .item-subtitle {
          font-size: var(--size-16);
          font-weight: var(--fontweight-medium);
          margin-bottom: var(--size-4);
          line-height: var(--size-24);
        }

        .item-title {
          font-size: var(--size-24);
          line-height:  min(calc(28.8 / var(--breakpoint-pc) * 100vw), 28.8px);
          font-weight: var(--fontweight-medium);
        }

        .item-text {
          margin-top: var(--size-16);
          font-size: var(--size-14);
          font-weight: var(--fontweight-book);
        }
      }
    }
  }
}

@media (width < 860px ) {
  .card-grid {
    .feature-items-wrapper {
      grid-template-columns: 1fr;
      gap: var(--size-32);
      width: 100%;
      height: auto;

      .feature-item-box {
        width: 100%;

        .item-text-box {
          .item-subtitle {
            font-size: var(--size-14);
          }

          .item-title {
            line-height: calc(28.8 / var(--breakpoint-mobile) * 100vw);
            width: calc(200 / var(--breakpoint-mobile) * 100vw);
          }
        }
      }
    }
  }
}