/* disclaimer.css */
.disclaimer-box {
  padding: var(--size-40) 0 var(--size-80);
  display: flex;
  align-items: center;
  
  @media (width < 640px) {
    padding: var(--size-24) 0 var(--size-48);
  }
}

.disclaimer-box div, .disclaimer-box p, .disclaimer-box li {
  font-weight: var(--fontweight-light);
  font-size: var(--fontsize-body1);
  color: var(--color-primary-grey-50);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  
  @media (width < 640px) {
    font-size: var(--fontsize-caption3);
    line-height: 1.4;
  }
}