/* disclaimer.css */
.disclaimer-box {
  height: var(--size-144);
  display: flex;
  align-items: flex-start;
}

.disclaimer-box div, .disclaimer-box p, .disclaimer-box li {
  font-weight: var(--fontweight-light);
  font-size: var(--fontsize-body1);
  color: var(--color-primary-grey-50);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}