/* navigation styles */
main .section.navigation-logo-container.navigation-item-container.navigation-action-container, .section[class*="navigation"]{
  display: flex;
  max-width: initial;
}

.nav-dropdown .dropdown-links div {
  height: auto;
  display: flex;
  flex-direction: column;
}

.columns-wrapper .columns > div {
  flex-direction: column;
}

.columns-wrapper .columns > div > div {
  width: 100%;
  display: grid;
  gap: 30px 10px;
}

.columns-wrapper .columns > div > div:first-child {
  grid-template-columns: repeat(4, 1fr);
}

.columns-wrapper .columns > div > div:nth-child(2) {
  grid-template-columns: repeat(2, 1fr);
}