/* 标题部分的样式随页面调整 */
.article-wrapper {
  margin-top: calc(166px + 80px);

  @media (width < 860px) {
    margin-top: calc(112px + 48px);
  }

  .article {
    width: min(calc(800 / var(--breakpoint-pc) * 100vw), 800px);
    padding: 0;

    @media (width < 860px) {
      width: 100%;
      padding: 0 var(--common-padding);
    }
  }
}
