
.core-value-card-wrapper {
  width: 100%;
}

.core-value-card-wrapper p,
.core-value-card-wrapper h1,
.core-value-card-wrapper h2,
.core-value-card-wrapper h3,
.core-value-card-wrapper h4,
.core-value-card-wrapper h5,
.core-value-card-wrapper h6{
  margin: 0;
  padding: 0;
}

.core-value-card .title >div:first-child{
  color: var(--color-primary-green-50);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-20);

   @media (width < 860px) {
   font-size: var(--size-18);
  }
}

.core-value-card .title >div:nth-child(2){
  color: var(--color-primary-grey-90);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-46);
  margin: var(--spacing-sm) 0 var(--spacing-xl);

   @media (width < 860px) {
    font-size: var(--size-24);
    margin: var(--spacing-3xs) 0 var(--size-32);
  }

}

.core-value-card > ul {
  gap: var(--size-26);
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
	grid-template-columns: repeat(2, 1fr);

  @media (width < 860px) {
    grid-template-columns: 1fr;
  }
}

.core-value-card > ul > li{
  font-family: var(--font-family);
  overflow: hidden;
  position: relative;
  gap: var(--size-24);
}

.core-value-card > ul > li .card-image{
  border-radius: var(--spacing-xs);
  overflow: hidden;
  position: relative;
  aspect-ratio: 544 / 220;

   @media (width < 860px) {
    aspect-ratio: 354 / 120;
  }
}

 ul >li .card-image img {
  width: 100%;
  object-fit: cover;
}

.core-value-card .arrow {
  transition: transform .36s cubic-bezier(0, 0.18, 0.07, 1), -webkit-transform .36s cubic-bezier(0, 0.18, 0.07, 1);
  position: absolute;
  bottom: var(--spacing-2xs);
  right: var(--spacing-sm);
  width: var(--size-24);
  height: var(--size-24);
}

.core-value-card .arrow.hide  {
  transform: rotate(-180deg);
		transition: transform 0.3s ease;
}

.core-value-card .card-body{
  gap: var(--size-16);
  width: 100%;
  text-align: center;
  position: relative;
}

.core-value-card .card-body div:first-child {
  color: black;
  font-weight: var(--fontweight-medium);
  font-family: var(--font-family);
  font-size: var(--size-30);

  @media (width < 860px) {
    color: var(--color-primary-grey-10);
    font-size: var(--size-24);
    position: absolute;
    top: calc(-1* (var(--size-24) + var(--spacing-2xs)));
    left:var(--spacing-sm)
  }
}

.core-value-card .card-body div:nth-child(2) {
  color: var(--color-primary-grey-70);
  font-family: var(--font-family);
  font-weight: var(--fontweight-book);
   font-size: var(--size-16);

  @media (width < 860px) {
    text-align: left;
    font-size: var(--size-14);
    padding:var(--spacing-sm) 0 0 var(--spacing-sm);
  }
}



.card-item:has(.arrow.hide) .card-body div:nth-child(2) {
  @media (width < 860px) {
   display: none;
  }
}








