p {
    margin: 0;
    padding: 0;
}

#coprate-governance-cards {
    width: 100%;
    height: auto;
    display: flex;
    gap: var(--spacing-xl);

     .card-item {
        width: calc(352/var(--breakpoint-pc) * 100vw);
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: var(--spacing-xl);
        padding: var(--spacing-lg, 40px) var(--spacing-lg, 40px);
        border-radius: var(--radius-lg, 20px);
        background: linear-gradient(170deg, var(--color-primary-grey-10, #FFF) 16.98%, var(--white-alpha-60, rgb(255 255 255 / 60%)) 100%);

        .icon-div {
            width: 100%;
            height: var(--size-80);
            line-height: 0;

            picture > img {
                width: var(--size-80);
                height: var(--size-80);
                object-fit: cover;
            }
        }
        
        .text-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--spacing-4xs, 4px);
            align-self: stretch;
        }

        .title {
            width: 100%;
            font-size: var(--fontsize-title2, 20px);
            font-weight: var(--fontweight-medium);
            line-height: 120%; /* 24px */
        }

        .text {
            width: 100%;
            color: var(--color-primary-grey-50, #747474);
            font-size: var(--fontsize-body1, 16px);
            font-weight: var(--fontweight-book);
            line-height: 150%; /* 24px */
        }

        a {
            width: fit-content;
            margin: auto;
            display: flex;
            height: var(--size-30);
            padding: 0 var(--spacing-xs, 16px);
            justify-content: center;
            align-items: center;
            gap: var(--spacing-3xs, 8px);
            border-radius: 100px;
            background: var(--color-primary-green-60, #008482);
        }
    }
}

