.project-brief-card-wrapper {
  width: 100%;

  .project-brief-card {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-48) var(--spacing-m, 32px);

    @media (width < 860px) {
      gap: var(--spacing-s, 18px);
    }

    .info-list-card {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xs, 16px);

      @media (width < 860px) {
        border-radius: var(--size-12, 12px);
        padding: var(--spacing-sm, 24px);
        align-items: flex-start;
        gap: var(--spacing-2xs, 12px);
      }

      .card-image{
        width: 100%;
        height: 234px;
        border-radius: var(--radius-md, 8px);
        overflow: hidden;
      }

      .title-container {
        .card-info{
            display: flex;
            align-items: center;
            line-height: 1.5;
            color: var(--color-primary-green-60);
            font-size: var(--size-14);
            font-weight: var(--fontweight-book);

            @media (width < 860px) {
              line-height: 1.4;
            }
          }

        .card-title {
          color: var(--color-primary-grey-100);
          font-size: var(--fontsize-title2, 20px);
          font-style: normal;
          font-weight: var(--fontweight-medium, 500);
          line-height: 1.2;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          @media (width<860px) {
            line-height: 1.4;
            overflow: unset;
            white-space: normal;
            overflow-wrap: break-word;
            text-overflow: unset;
          }
        }

        .card-text {
          color: var(--color-primary-grey-50, #747474);
          font-size: var(--fontsize-body2, 14px);
          font-style: normal;
          line-height: 150%;
          overflow: hidden;
          font-weight: var(--fontweight-book, 400);

          @media (width<860px) {
            overflow: unset;
            white-space: wrap;
            text-overflow: unset;
            overflow-wrap: break-word;
            font-size: var(--spacing-2xs, 12px);
          }
        }

        .card-location{
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          gap: var(--size-4);
          position: relative;
          font-size: var(--size-12);
          line-height: 1.5;
          color: var(--color-primary-grey-50);
          justify-content: start;
          margin-top: var(--spacing-xs, 16px);;

          .meta-icon {
            width: var(--size-16);
            height: var(--size-16);
            flex-shrink: 0;
            display: block;
            object-fit: contain;
          
          }
        }
    }

    .info-list-empty-container {
      .info-list-empty-title {
        color: var(--color-primary-grey-100, #000);
        text-align: center;
        font-size: var(--fontsize-title1, 24px);
        font-style: normal;
        font-weight: var(--fontweight-medium, 500);
        line-height: 120%;
      }

      .info-list-empty-text {
        margin-top: var(--spacing-xs, 16px);
        color: var(--color-primary-grey-70, #333);
        text-align: center;
        font-size: var(--fontsize-body1, 16px);
        font-style: normal;
        line-height: 150%;
        font-weight: var(--fontweight-book, 400);

        @media (width < 860px) {
          margin-top: var(--spacing-2xs, 12px);
          font-size: var(--size-14, 14px);
          letter-spacing: 0;
        }
      }
    }

    .info-list-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-xs, 16px);
      margin-top: var(--spacing-m, 32px);

      @media (width < 860px) {
        display: none;
      }

      .page-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--size-40);
        height: var(--size-40);
        padding: 0;
        border-radius: var(--radius-md);
        border: 1px solid transparent;
        background-color: transparent;
        color: var(--color-primary-grey-70, #333);
        font-size: var(--fontsize-body1);
        line-height: 1.5;
        font-weight: var(--fontweight-book, 400);
        cursor: pointer;

        &.is-active {
          background-color: var(--color-primary-green-60);
          color: var(--color-primary-grey-10, #fff);
          font-weight: var(--fontweight-medium, 500);
        }

        &:hover {
          background-color: var(--color-primary-green-10, #edfcfb);
          color: var(--color-primary-grey-100, #000);
          font-weight: var(--fontweight-medium, 500);
        }

        &:disabled {
          .page-arrow.normal {
            display: none;
          }

          .page-arrow.disabled {
            display: block;
          }
        }

        .page-arrow {
          width: var(--size-24);
          height: var(--size-24);
          display: block;

          &.disabled {
            display: none;
          }
        }
      }

      .pagination-ellipsis {
        width: var(--size-40);
        height: var(--size-40);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--size-6, 6px);

        .pagination-ellipsis-circle {
          width: var(--size-4, 4px);
          height: var(--size-4, 4px);
          border-radius: var(--size-10, 10px);
          background: var(--color-primary-grey-40, #bbb);
        }
      }
    }

    .info-list-pagination-mobile {
      display: none;

      @media (width < 860px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: var(--spacing-m, 32px);

        .page-button {
          background-color: transparent;
          color: var(--color-primary-grey-70, #333);
          text-align: center;
          font-size: var(--fontsize-body3, 12px);
          font-style: normal;
          font-weight: var(--fontweight-medium);
          line-height: 1.4;
          border-bottom: 1px solid var(--color-primary-grey-70, #333);
          border-radius: 0;
        }
      }
    }

    .info-list-no-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--size-16);
      margin-top: var(--size-48);

      .page-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--size-48);
        padding: 0 var(--size-32);
        border-radius: var(--size-100);
        border: 1px solid var(--color-primary-grey-70);
        background-color: transparent;
        color: var(--color-primary-grey-70, #333);
        font-size: var(--fontsize-body2);
        line-height: 1.5;
        font-weight: var(--fontweight-medium);
        cursor: pointer;
      }
    }
  }

  .info-list-pagination {
      grid-column: 1 / -1; 
  }

  .project-brief-card p {
    margin: 0;
  }
}

}