.gradient-text-image {
	height:  calc(360/var(--breakpoint-pc) * 100vw);
	width: 100%;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	flex-direction: row-reverse;

	&.white-font {
		color: var(--color-white);
	}

	&.black-font {
		color: var(--color-hisense-black);
	}

	&.green-60 {
		background-color: var(--color-primary-green-60);
	}

	&.green-20 {
		background-color: var(--color-primary-green-20);
	}

	p {
		margin: 0;
		padding: 0;
	}
}

.gradient-image {
	flex: 1;
	position: relative;

	div {
		width: 100%;
		height: 100%;

		picture {
			display: block;
			height: 100%;
		}

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&::after {
		content: '';
    box-sizing: border-box;
    width: 75%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
	}
}

.green-60 > .gradient-image::after {
	background: linear-gradient(270deg, rgb(0 132 130 / 0%) 65.59%, rgb(0 132 130 / 78%) 82.79%, #008482 100%);
}

.green-20 > .gradient-image::after {
	background: linear-gradient(270deg, rgb(200 239 238 / 0%) 65.59%, rgb(200 239 238 / 78%) 82.79%, #C8EFEE 100%);
}

.text-container {
	height: 100%;
	width: calc(496/var(--breakpoint-pc) * 100vw);
	display: flex;
	padding: var(--spacing-xl) var(--spacing-lg);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-pc-s);
	flex-shrink: 0;

	.subtitle p {
		font-size: var(--fontsize-title2);
		font-weight: var(--fontweight-medium);
		line-height: 120%;
	}

	.title p {
		font-size: var(--fontsize-pc-h3);
		font-weight: var(--fontweight-medium);
		line-height: 120%;
		text-transform: capitalize;
	}

	.text p {
		font-size: var(--fontsize-body1);
		font-weight: var(--fontweight-book);
		line-height: 150%;
	}
}