.media-filter-container {
  width: 100%;

  .media-filter {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl, 48px);

    @media (width<640px) {
      gap: var(--spacing-xs, 16px);
    }

    /* 检索框样式 */
    .search-card-wrapper {
      width: 100%;

      .search-card-inner {
        width: 100%;
        display: flex;
        padding: var(--spacing-xl, 48px) var(--spacing-2xl, 80px);
        align-items: flex-end;
        gap: var(--spacing-m, 32px);
        border-radius: var(--radius-pc-xl, 20px);
        background: var(--color-primary-green-10, #edfcfb);

        @media (width<640px) {
          flex-direction: column;
          padding: var(--spacing-m, 32px) var(--spacing-sm, 24px);
          gap: var(--size-24);
        }

        .title-select-wrapper {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: var(--spacing-2xs, 12px);

          @media (width<640px) {
            width: 100%;
          }

          .title {
            color: var(--color-primary-grey-100, #000);
            font-size: var(--fontsize-body1, 16px);
            font-style: normal;
            font-weight: var(--fontweight-medium, 500);
            line-height: 150%;

            @media (width<640px) {
              font-size: var(--fontsize-body2, 14px);
              line-height: 22px;
            }
          }

          .main-select {
            z-index: 20;
          }

          .sub-select {
            z-index: 10;
          }

          .select-option-list-wrapper {
            position: relative;
            cursor: pointer;

            .select-wrapper {
              position: relative;
              display: flex;
              justify-content: center;
              height: var(--size-50);
              padding: 0 var(--spacing-s2, 20px);
              align-items: center;
              align-self: stretch;
              border-radius: var(--size-12);
              border: 1px solid var(--color-primary-grey-40, #bbb);
              background: var(--color-primary-gray-10, #fff);
              color: var(--color-primary-grey-70, #333);
              font-size: var(--fontsize-body2, 14px);
              font-weight: var(--fontweight-book, 400);
              line-height: 1.5;
              user-select: none;
              z-index: 4;

              @media (width<640px) {
                border-radius: var(--size-8);
              }

              .chevron-icon {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  transform: rotate(180deg);
                }
              }

              .chevron-icon-disabled {
                display: none;
              }
            }

            .select-wrapper div:first-child {
              flex: 1 0 0;
              text-overflow: ellipsis;
              overflow: hidden;
              word-break: break-all;
              white-space: nowrap;
            }

            .option-list-wrapper {
              position: absolute;
              background: #fff;
              width: 100%;
              top: 0;
              left: 0;
              overflow: hidden;
              transform: scaleY(0);
              transform-origin: top center;

              /* 从顶部向下展开 */
              opacity: 0;
              pointer-events: none;

              /* 隐藏时禁用点击穿透 */
              transition:
                transform 0.3s ease,
                opacity 0.3s ease;
              border-radius: var(--size-12);
              box-shadow: 0 1.5px 11px 0 rgb(0 0 0 / 7%);
              z-index: 2;

              .option-list {
                width: 100%;
                flex-direction: column;
                padding: var(--size-72) var(--size-20) var(--spacing-sm, 24px) var(--size-20);
                font-size: var(--fontsize-body1, 16px);
                gap: var(--spacing-2xs, 12px);
                max-height: min(calc(432 / var(--breakpoint-pc) * 100vw),
                    432px);

                @media (width<640px) {
                  max-height: calc(432 / var(--breakpoint-mobile) * 100vw);
                }

                .option {
                  height: var(--size-30);
                  line-height: var(--size-30);
                  color: var(--color-primary-grey-50, #747474);
                  display: flex;
                  align-items: center;
                  cursor: pointer;
                  font-weight: var(--fontweight-book, 400);
                  font-size: var(--fontsize-body2, 14px);

                  &:hover {
                    color: var(--color-primary-grey-100, #000);
                    font-weight: var(--fontweight-medium, 500);
                  }

                  &.selected {
                    color: var(--color-primary-grey-100, #000);
                  }

                  &:active {
                    color: var(--color-primary-green-50, #009f9c);
                    font-weight: var(--fontweight-medium, 500);
                  }
                }
              }
            }
          }
        }

        .select-option-list-wrapper.show {
          .select-wrapper {
            border: 2px solid var(--color-primary-green-50, #009f9c);

            .chevron-icon {
              img {
                transform: rotate(0deg);
                transition: transform 0.3s ease;
              }
            }
          }

          .option-list-wrapper {
            transform: scaleY(1);
            opacity: 1;
            pointer-events: auto;
          }
        }

        .select-option-list-wrapper:not(.show) {
          .chevron-icon img {
            transform: rotate(-180deg);
            transition: transform 0.3s ease;
          }
        }

        .select-option-list-wrapper.disabled {
          .select-wrapper {
            background: var(--color-primary-grey-20, #f7f7f7);
            cursor: not-allowed;

            .chevron-icon {
              display: none;
            }

            .chevron-icon-disabled {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }

        .select-placeholder {
          color: var(--color-primary-grey-40, #bbb);
        }

        .search-button {
          cursor: pointer;
          padding: var(--spacing-4xs, 4px) var(--spacing-m, 32px);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: var(--size-100);
          background: var(--color-primary-green-60, #008482);
          color: var(--color-primary-grey-10, #fff);
          text-align: center;
          font-size: var(--fontsize-body2, 14px);
          font-style: normal;
          font-weight: var(--fontweight-medium, 500);
          line-height: 150%;
          min-height: var(--size-50);
          margin: 0;

          @media (width<640px) {
            width: 100%;
            margin-top: var(--spacing-3xs, 8px);
            padding: var(--spacing-4xs, 4px) var(--spacing-sm, 24px);
          }

          &:hover {
            background-color: var(--color-primary-green-50, #009f9c);
          }

          &:active {
            background-color: var(--color-primary-green-70, #005a5c);
          }
        }
      }
    }

    .bottom-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xl, 48px);

      @media (width<640px) {
        gap: var(--spacing-sm, 24px);
      }

      /* 列表展示样式 */
      .card-list-wrapper {
        width: 100%;
        padding: var(--spacing-xl, 48px) 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-m, 32px);

        @media (width<640px) {
          grid-template-columns: repeat(1, 1fr);
          gap: var(--spacing-sm, 24px);
        }

        .card-wrapper {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-xs, 16px);

          @media (width<640px) {
            width: 100%;
            flex-direction: row;
            border-bottom: 1px solid var(--color-primary-grey-40, #bbb);
            padding-bottom: var(--spacing-m, 32px);
          }

          .thumbnail {
            border: 1px solid var(--color-primary-grey-30, #e0e0e0);
            aspect-ratio: 352 / 235;
            object-fit: cover;
            border-radius: var(--radius-md, 8px);
            width: min(calc(352 / var(--breakpoint-pc) * 100vw), 352px);
            height: min(calc(235 / var(--breakpoint-pc) * 100vw), 235px);

            @media (width < 640px) {
              width: calc(120 / var(--breakpoint-mobile) * 100vw);
              height: calc(120 / var(--breakpoint-mobile) * 100vw);
            }

            img {
              aspect-ratio: 352 / 235;
              object-fit: cover;
              border-radius: var(--radius-md, 8px);
              width: min(calc(352 / var(--breakpoint-pc) * 100vw), 352px);
              height: min(calc(235 / var(--breakpoint-pc) * 100vw), 235px);

              @media (width < 640px) {
                width: calc(120 / var(--breakpoint-mobile) * 100vw);
                height: calc(120 / var(--breakpoint-mobile) * 100vw);
              }
            }
          }

          .bottom-wrapper {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs, 16px);

            @media (width < 640px) {
              gap: var(--spacing-s, 18px);
            }

            .text-content {
              display: flex;
              flex-direction: column;
              gap: var(--spacing-4xs, 4px);

              .category {
                color: var(--color-primary-green-60, #008482);
                text-transform: uppercase;
                font-weight: var(--fontweight-medium, 500);
                font-size: var(--fontsize-body2, 14px);
                line-height: 1.5;
              }

              .title {
                font-size: var(--fontsize-title2, 20px);
                font-weight: var(--fontweight-medium, 500);
                line-height: 1.2;
                text-transform: capitalize;
              }
            }

            .date-wrapper {
              display: flex;
              gap: var(--spacing-4xs, 4px);
              align-items: center;

              .date-icon {
                width: var(--size-16, 16px);
                height: var(--size-16, 16px);

                @media (width < 640px) {
                  display: none;
                }
              }

              .date-text {
                color: var(--color-primary-grey-60, #555);
                font-size: var(--fontsize-body3, 12px);
                font-weight: var(--fontweight-book, 400);
                line-height: 1.5;
                letter-spacing: 0;

                @media (width < 640px) {
                  font-size: var(--fontsize-caption1, 10px);
                  line-height: 1.4;
                }
              }
            }
          }
        }
      }

      .pagination-wrapper {
        /* 分页 */
        .card-list-pagination {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: var(--spacing-xs, 16px);
          margin-top: var(--spacing-m, 32px);

          @media (width < 640px) {
            display: none;
          }

          .page-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--size-40);
            height: var(--size-40);
            padding: 0;
            border-radius: var(--radius-md);
            border: 1px solid transparent;
            background-color: transparent;
            color: var(--color-primary-grey-70, #333);
            font-size: var(--fontsize-body1);
            line-height: 1.5;
            font-weight: var(--fontweight-book, 400);
            cursor: pointer;

            &.is-active {
              background-color: var(--color-primary-green-60);
              color: var(--color-primary-grey-10, #fff);
              font-weight: var(--fontweight-medium, 500);
            }

            &:not(:disabled):hover {
              background-color: var(--color-primary-green-10, #edfcfb);
              color: var(--color-primary-grey-100, #000);
              font-weight: var(--fontweight-medium, 500);
            }

            &:disabled {
              .page-arrow.normal {
                display: none;
              }

              .page-arrow.disabled {
                display: block;
                cursor: not-allowed;
              }
            }

            .page-arrow {
              width: var(--size-24);
              height: var(--size-24);
              display: block;

              &.disabled {
                display: none;
              }
            }
          }

          .pagination-ellipsis {
            width: var(--size-40);
            height: var(--size-40);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--size-6, 6px);

            .pagination-ellipsis-circle {
              width: var(--size-4, 4px);
              height: var(--size-4, 4px);
              border-radius: var(--size-10, 10px);
              background: var(--color-primary-grey-40, #bbb);
            }
          }
        }

        .card-list-pagination-mobile {
          display: none;

          @media (width < 640px) {
            display: flex;
            justify-content: center;
            align-items: center;

            .page-button {
              padding: 0;
              margin: 0;
              height: var(--size-20, 20px);
              background-color: transparent;
              color: var(--color-primary-grey-70, #333);
              text-align: center;
              font-size: var(--fontsize-body3, 12px);
              font-style: normal;
              font-weight: var(--fontweight-medium, 500);
              line-height: 1.4;
              border-bottom: 1px solid var(--color-primary-grey-70, #333);
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

#media-center-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(calc(760 / var(--breakpoint-pc) * 100vw), 760px);
  background-color: white;
  border-radius: var(--size-20);
  z-index: 10000;
  display: none;
  flex-direction: column;
  gap: var(--size-24);
  padding: var(--size-80);
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  @media (width < 640px) {
    width: calc(354 / var(--breakpoint-mobile) * 100vw);
    padding: var(--size-64) var(--size-24) var(--size-32);
    gap: var(--size-16);
  }

  .close-icon {
    position: absolute;
    top: var(--size-32);
    right: var(--size-32);
    width: var(--size-32);
    height: var(--size-32);
    cursor: pointer;

    @media (width < 640px) {
      top: var(--size-24);
      right: var(--size-24);
      width: var(--size-24);
      height: var(--size-24);
    }
  }

  .title-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (width < 640px) {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--size-16);
    }

    .media-title {
      font-size: var(--size-24);
      color: #141414;
      font-weight: var(--fontweight-medium);
      line-height: var(--size-28);

      @media (width < 640px) {
        font-size: var(--size-18);
        line-height: var(--size-22);
      }
    }

    .media-date {
      font-size: var(--size-14);
      color: #333;
      font-weight: var(--fontweight-book);
      line-height: var(--size-21);
    }
  }

  .core-media {
    width: 100%;
    min-height: min(calc(300 / var(--breakpoint-pc) * 100vw), 300px);
    position: relative;

    @media (width < 640px) {
      min-height: var(--size-150);
    }

    img {
      width: 100%;
    }

    >* {
      width: 100%;
      display: block;
    }

    .gallery-number-group {
      position: absolute;
      top: var(--size-16);
      right: var(--size-16);
      width: auto;
      padding: var(--size-4) var(--size-8);
      background-color: var(--grey-alpha-40);
      border-radius: var(--size-16);
      color: #fff;
      font-size: var(--size-12);
      line-height: var(--size-18);
      font-family: "FZLanTingHeiS-DB1-GBK", serif;

      * {
        display: inline-block;
      }

      .gallery-total {
        white-space: break-spaces;
      }
    }
  }

  .gallery-list-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .scroll-btn {
      width: var(--size-30);
      height: var(--size-30);
      border: none;
      background: transparent;
      cursor: pointer;
      font-size: 1.2rem;
      color: #666;
      transition: color 0.3s;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:disabled {
        color: #ddd;
        cursor: not-allowed;

        img.click-icon {
          display: none;
        }
      }

      &:not(:disabled) img.disabled-icon {
        display: none;
      }
    }

    .tabs-container {
      overflow: hidden;
      height: var(--size-50);

      ul.gallery-tabs {
        display: flex;
        gap: var(--size-4);
        max-width: min(calc(486 / var(--breakpoint-pc) * 100vw), 486px);
        scroll-behavior: smooth;
        overflow: scroll hidden;
        list-style: none;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding: 0;

        @media (width < 640px) {
          max-width: min(calc(212 / var(--breakpoint-mobile) * 100vw), 212px);
        }

        li.tab-item {
          width: var(--size-50);
          height: var(--size-50);
          overflow: hidden;
          border-radius: var(--size-8);
          border: 1px solid transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          flex-shrink: 0;

          &.current {
            border: 1px solid #000;

            &.image img,
            &.video video {
              border: 1px solid transparent;
            }
          }

          &.image img {
            border: 1px solid #bbb;
            border-radius: var(--size-6);
            width: var(--size-44);
            height: var(--size-44);
          }

          &.video video {
            border: 1px solid #bbb;
            border-radius: var(--size-6);
            width: var(--size-44);
            height: var(--size-44);
          }
        }
      }
    }
  }

  .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-16);

    @media (width < 640px) {
      flex-direction: column;
      gap: var(--size-12);
    }

    >div {
      height: var(--size-50);
      padding: 0 var(--size-32);
      border-radius: var(--size-80);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: var(--size-14);
      line-height: var(--size-21);
      font-weight: var(--fontweight-medium);

      @media (width < 640px) {
        width: 100%;
      }
    }

    .download-btn {
      border: 1px solid #000;
      color: #333;

      &:hover {
        background-color: var(--color-primary-grey-70);
        border-color: var(--color-primary-grey-70);
        color: #fff;
        text-decoration: none;
      }

      &:active {
        background-color: #000;
        border-color: #000;
        color: var(--white-alpha-80);
        text-decoration: none;
      }
    }

    .download-all-btn {
      color: #fff;
      background-color: #000;

      &:hover {
        background-color: var(--color-primary-grey-70);
      }
    }
  }
}

#gallery-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 60%);
  z-index: 999;
  display: none;
  transition: opacity 0.3s ease;
}