/* PLP Product Filters */

.plp-product-filters .plp-filters-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.plp-product-filters .plp-filters-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.plp-product-filters .plp-results-box {
  width: 110px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plp-product-filters .plp-results {
  font-size: 14px;
  color: rgb(0 0 0 / 100%);
}

.plp-product-filters .plp-active-filters {
  display: flex;
  gap: 6px;
}

.plp-product-filters .plp-filter-tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 10px;
  background: #fff;
  border-radius: 20px;
  font-size: 12px;
  height: 24px;
}

.plp-product-filters .plp-filter-tag-close {
  cursor: pointer;
  font-size: 16px;
  color: rgb(204 204 204 / 100%);
}

.plp-product-filters .plp-reset-filters {
  color: rgb(0 0 0 / 100%);
  border-bottom: 1px solid rgb(0 0 0 / 100%);
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  cursor: pointer;
}

.plp-product-filters .plp-sort-box {
  position: relative;
  width: 236px;
  height: 40px;
}

.plp-product-filters .plp-sort {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 14px;
  background: #fff;
  border-radius: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
}

.plp-product-filters .plp-sort img {
  transform: scaleY(-1);
}

.plp-product-filters .plp-sort-box.show img {
  transform: initial;
}

.plp-product-filters .plp-sort-options {
  top: 20px;
  left: 0;
  position: absolute;
  display: none;
  background: #f9f9f9;
  width: 100%;
  border-radius: 0 0 20px 20px;
  flex-direction: column;
  padding: 40px 16px 12px;
  box-shadow: 0 16px 24px 0 rgb(0 0 0 / 10%);
  font-size: 12px;
  font-weight: 400;
  gap: 8px;
  z-index: 2;
}

.plp-product-filters .plp-sort-box.show .plp-sort-options {
  display: flex;
}

.plp-product-filters .plp-sort-option {
  height: 30px;
  border-radius: 30px;
  color: rgb(102 102 102 / 100%);
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.plp-product-filters .plp-sort-option.selected {
  background: rgb(165 225 225 / 100%);
  color: rgb(0 0 0 / 100%);
}

/*编辑模式样式，尽量保持与浏览模式一致的UI */
.plp-product-filters[data-aue-resource] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
}

.plp-product-filters[data-aue-resource] > div[data-aue-resource] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 10px;
  background: #fff;
  border-radius: 20px;
  font-size: 12px;
  height: 24px;
  flex-shrink: 0;
}

