
.past-partnerships-list-wrapper {
  width: 100%;
}

.past-partnerships-list-wrapper p{
  margin: 0;
  padding: 0;
}

.past-partnerships-list .title >div:first-child{
  color: var(--color-primary-green-50);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  font-size: var(--size-20);
  margin-bottom: var(--spacing-sm);

   @media (width < 860px) {
    font-size: var(--size-18);
    margin-bottom: var(--size-30);
  }
}

.past-partnerships-list > ul {
  gap: var(--spacing-sm);
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
	
  @media (width >= 860px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width < 860px) {
		overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* iOS 弹性滚动 */
    scroll-behavior: smooth; /* 平滑滚动 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    touch-action: pan-x pinch-zoom; /* 允许水平滑动和捏合缩放 */
    overscroll-behavior-x: contain; /* 防止滚动链 */
    grid-auto-flow: column;
    gap: var(--spacing-xs);
	}
}

.past-partnerships-list > ul > li {
  font-family: var(--font-family);
  background: var(--color-primary-green-10);

  /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.60) 100%), #50C3C3; */
  position: relative;
  border-radius: var(--border-radius-l);
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  aspect-ratio: 1;
  
   @media (width < 860px) {
    /* flex: 0 0 auto;  */
    position: relative;
		width: 51.282vw !important;
    height: 58.9743vw;
    aspect-ratio: 1;
    transition: transform 0.3s;
    pointer-events: auto; /* 允许事件穿透到容器 */
    

    /* -webkit-user-select: none; */
    user-select: none;
  }
}

.past-partnerships-list .card-image {
  background-color: var(--color-primary-grey-10);
  width: min(11.11111vw, 160px);
  height: min(12.4305vw, 179px);
  object-fit: contain;
  transition: transform .5s cubic-bezier(0.35, 0, 0.36, 1), -webkit-transform .5s cubic-bezier(0.35, 0, 0.36, 1);

  @media (width < 860px) {
    width: 29.74358vw;   /* 116px in mobile */
    height: 33.33333vw;;  /* 130px in mobile */
  }
}

.past-partnerships-list  > ul > li img {
  width: 100%;
  height: 100%;
}

.past-partnerships-list .card-body{
  color: var(--color-hisense-grey-01);
  font-weight: var(--fontweight-medium);
  font-family: var(--font-family);
  font-size: var(--size-20);
  line-height: 120%;
  margin-top: var(--spacing-md);
  text-align: center;

  @media (width < 860px) {
    color: var(--color-primary-grey-70);
    line-height: 140%;
    font-size: var(--size-14);
  }
}




