.past-partnerships-list-wrapper {
  width: 100%;
}

.past-partnerships-list-wrapper p {
  margin: 0;
  padding: 0;
}

.past-partnerships-list .title p:first-of-type {
  color: var(--color-primary-green-50);
  font-family: var(--font-family);
  font-weight: var(--fontweight-medium);
  line-height: 120%;

  @media (width < 860px) {
    font-size: var(--size-18);
  }
}

.past-partnerships-list .title p:nth-of-type(2) {
  color: var(--color-primary-grey-90, #141414);
  font-size: var(--fontsize-title1, 24px);
  font-style: normal;
  font-weight: var(--fontweight-medium, 500);
  line-height: 120%;

  @media (width < 860px) {
    font-size: var(--fontsize-title3, 18px);
  }
}

.past-partnerships-list .normal p:first-of-type {
  font-size: var(--size-20);
  margin-bottom: var(--spacing-sm, 24px);

  @media (width < 860px) {
    font-size: var(--size-18);
    margin-bottom: var(--size-30, 30px);
  }
}

.past-partnerships-list .normal p:nth-of-type(2) {
  font-size: var(--fontsize-title1, 24px);
  margin-bottom: var(--spacing-sm, 24px);

  @media (width < 860px) {
    font-size: var(--fontsize-title3, 18px);
    margin-bottom: var(--size-30, 30px);
  }
}

.past-partnerships-list .large p:first-of-type {
  font-size: var(--fontsize-h1, 40px);
  margin-bottom: var(--spacing-2xs, 12px);

  @media (width < 860px) {
    font-size: var(--fontsize-h1, 40px);
    margin-bottom: var(--spacing-xs, 16px);
  }
}

.past-partnerships-list .large p:nth-of-type(2) {
  font-size: var(--fontsize-title1, 24px);
  margin-bottom: var(--spacing-xl, 48px);

  @media (width < 860px) {
    font-size: var(--fontsize-title3, 18px);
    margin-bottom: var(--spacing-m, 32px);
  }
}

.past-partnerships-list > ul {
  gap: var(--spacing-xs, 16px);
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  @media (width >= 860px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.past-partnerships-list .mobile-tiled {
  @media (width < 860px) {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* iOS 弹性滚动 */
    scroll-behavior: smooth; /* 平滑滚动 */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    touch-action: pan-x pinch-zoom; /* 允许水平滑动和捏合缩放 */
    overscroll-behavior-x: contain; /* 防止滚动链 */
    grid-auto-flow: column;
    gap: var(--spacing-xs);
  }
}

.past-partnerships-list > ul > li {
  font-family: var(--font-family);
  background: var(--color-primary-green-10);

  /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.60) 100%), #50C3C3; */
  position: relative;
  border-radius: var(--radius-xl, 16px);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: var(--spacing-m, 32px) var(--size-28);
  gap: var(--spacing-sm, 24px);

  @media (width < 860px) {
    border-radius: var(--radius-lg, 12px);
    position: relative;
    transition: transform 0.3s;
    pointer-events: auto; /* 允许事件穿透到容器 */
    padding: var(--spacing-sm, 24px) var(--spacing-s, 18px);
    user-select: none;
    gap: var(--spacing-2xs, 12px);
  }
}

.past-partnerships-list .mobile-titled-li {
  @media (width < 860px) {
    width: 51.282vw !important;
  }
}

.past-partnerships-list .card-image {
  height: min(calc(179 / var(--breakpoint-pc) * 100vw), 179px);
  transition:
    transform 0.5s cubic-bezier(0.35, 0, 0.36, 1),
    -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.36, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (width < 860px) {
    width: auto;
    height: calc(130 / var(--breakpoint-mobile) * 100vw);
  }
}

.past-partnerships-list .image-shadow {
  border-radius: var(--border-radius-m, 8px);
  box-shadow: 0 4.758px 11.895px 0 rgb(0 0 0 / 4%);
}

.past-partnerships-list .white {
  background-color: var(--color-primary-grey-10, #fff);
}

.past-partnerships-list .transparent {
  background-color: transparent;
}

.past-partnerships-list .card-image picture {
  width: 100%;
  height: min(calc(179 / var(--breakpoint-pc) * 100vw), 179px);
  object-fit: contain;

  @media (width < 860px) {
    height: calc(130 / var(--breakpoint-mobile) * 100vw);
  }
}

.past-partnerships-list .card-image img {
  width: 100%;
  height: min(calc(179 / var(--breakpoint-pc) * 100vw), 179px);

  @media (width < 860px) {
    height: calc(130 / var(--breakpoint-mobile) * 100vw);
  }
}

.past-partnerships-list .card-body {
  color: var(--color-hisense-grey-01);
  font-weight: var(--fontweight-medium);
  font-family: var(--font-family);
  font-size: var(--size-20);
  line-height: 120%;
  text-align: center;
  text-transform: capitalize;

  @media (width < 860px) {
    color: var(--color-primary-grey-70);
    line-height: 140%;
    font-size: var(--size-14);
  }
}
