.campaign-collection-wrapper {
  .campaign-collection {
    line-height: 0;

    .campaign-collection p {
      margin: 0;
      padding: 0;
    }

    .hide {
      display: none !important;
    }

    .first-part {
      position: relative;
      display: inline-block;
      width: 100%;
      max-width: 100%;
      line-height: 0;
      border-radius: var(--spacing-s2, 20px);

      @media (width<860px) {
        border-radius: var(--spacing-xs, 16px);
      }

      .background-pc {
        @media (width<860px) {
          display: none;
        }
      }

      .background-pc picture {
        display: block;
        height: 0;
      }

      .background-pc img {
        width: 100%;
      }

      .football {
        position: absolute;
        z-index: 20;
        width: var(--size-127);
        height: var(--size-109);
        top: calc(var(--size-33) * -1);
        left: calc(var(--size-33) * -1);

        @media (width<860px) {
          display: none;
        }
      }

      .background-mobile {
        @media (width>=860px) {
          display: none;
        }
      }

      .background-mobile img {
        width: 100%;
      }

      .content-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        padding: var(--spacing-m, 32px) var(--spacing-sm, 24px);
        gap: var(--spacing-m, 32px);
        justify-content: center;
        align-items: center;

        @media (width<860px) {
          flex-direction: column;
          padding: var(--spacing-md, 30px) var(--spacing-sm, 24px);

          .left-close {
            order: 2;
          }

          .left-close img {
            width: 100% !important;
            height: 100% !important;
          }

          .right-content {
            order: 1;
          }
        }

        .left-close img {
          width: min(calc(538 / var(--breakpoint-pc) * 100vw), 538px);
          height: min(calc(308 / var(--breakpoint-pc) * 100vw), 308px);
        }

        .right-content {
          width: min(calc(473 / var(--breakpoint-pc) * 100vw), 473px);
          color: var(--color-primary-grey-10, #fff);

          @media (width<860px) {
            width: 100%;
          }

          .title {
            font-size: var(--fontsize-h1, 40px);
            font-style: normal;
            font-weight: var(--fontweight-medium, 500);
            line-height: 120%;
            text-transform: capitalize;

            @media (width<860px) {
              font-size: var(--fontsize-pc-h4, 30px);
              width: calc(300 / var(--breakpoint-mobile) * 100vw);
            }
          }

          .text {
            margin-top: var(--spacing-s2, 20px);
            overflow: hidden;
            color: var(--color-primary-grey-10, #fff);
            text-overflow: ellipsis;
            font-size: var(--fontsize-body1, 16px);
            font-style: normal;
            font-weight: var(--fontweight-book, 400);
            line-height: 150%;

            @media (width<860px) {
              margin-top: var(--spacing-xs, 16px);
              font-size: var(--fontsize-body2, 14px);
            }
          }

          .button {
            margin-top: var(--spacing-sm, 24px);
            height: var(--size-50);
            cursor: pointer;
            font-size: var(--fontsize-body2, 14px);
            font-weight: var(--fontweight-medium, 500);
            line-height: 150%;
            padding: var(--spacing-4xs, 4px) var(--spacing-m, 32px);
            border-radius: var(--size-100, 100px);
            background: var(--color-hisense-black, #000);
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;

            @media (width<860px) {
              height: var(--size-40);
              margin-top: var(--spacing-xs, 16px);
              padding: var(--spacing-4xs, 4px) var(--spacing-sm, 24px);
              line-height: 140%;
            }
          }

          @media (hover: hover) {
            .button:hover {
              background: var(--color-primary-grey-70, #333);
            }
          }

          .button:active {
            background-color: var(--color-hisense-black, #000);
            color: var(--white-alpha-80, rgb(255 255 255 / 80%));
          }
        }
      }
    }

    .background-green-dark {
      background-color: #005350;
    }

    .background-green-light {
      background-color: #00d265;
    }

    .background-green-active > div {
      background-color: #00d26540;
    }

    .background-blue-dark {
      background-color: #0b0042;
    }

    .background-blue-light {
      background-color: #0e00a5;
    }

    .background-blue-active > div {
      background-color: #0e00a5bf;
    }

    .background-red-dark {
      background-color: #a40000;
    }

    .background-red-light {
      background-color: #ff162e;
    }

    .background-red-active > div {
      background-color: #ff162e80;
    }

    .second-part {
      padding: var(--spacing-lg, 40px) var(--spacing-lg, 40px) var(--size-64)
        var(--spacing-lg, 40px);
      border-bottom-left-radius: var(--spacing-s2, 20px);
      border-bottom-right-radius: var(--spacing-s2, 20px);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-lg, 40px);

      @media (width<860px) {
        padding: var(--spacing-lg, 40px) var(--spacing-sm, 24px);
        border-bottom-left-radius: var(--spacing-xs, 16px);
        border-bottom-right-radius: var(--spacing-xs, 16px);
      }

      .top-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm, 24px);

        .second-title {
          width: 100%;
          color: var(--color-primary-grey-10, #fff);
          text-align: center;
          font-size: var(--fontsize-pc-h3, 34px);
          font-style: normal;
          font-weight: var(--fontweight-medium, 500);
          line-height: 120%;
          text-transform: capitalize;

          @media (width<860px) {
            text-align: left;
            font-size: var(--fontsize-title1, 24px);
          }
        }

        .host-button-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: var(--spacing-xs, 16px);

          @media (width<860px) {
            overflow-x: auto;
            scrollbar-width: none;
            justify-content: flex-start;
          }

          .button-wrapper > div:first-child {
            cursor: pointer;
            display: flex;
            gap: var(--spacing-2xs, 12px);
            border: 1px solid var(--color-primary-grey-10, #fff);
            border-radius: var(--size-100);
            padding: 0 var(--spacing-sm, 24px);
            height: var(--size-52);

            @media (width < 860px) {
              height: var(--size-69);
              gap: var(--size-6);
              padding: 0 var(--spacing-s, 18px);
            }

            picture {
              @media (width<860px) {
                display: block;
                width: var(--size-65);
                height: var(--size-67);
              }
            }
          }

          .button-wrapper img {
            width: var(--size-65);
            height: var(--size-50);

            @media (width<860px) {
              width: var(--size-65);
              height: var(--size-67);
            }
          }

          .button-wrapper p:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--color-primary-grey-10, #fff);
            text-align: center;
            font-size: var(--fontsize-body1, 16px);
            font-style: normal;
            font-weight: var(--fontweight-medium, 500);
            line-height: 1.5;

            @media (width<860px) {
              font-size: var(--fontsize-body2, 14px);
              line-height: 1.2;
            }
          }
        }
      }

      .bottom-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--spacing-sm, 24px);

        @media (width<860px) {
          overflow-x: auto;
          scrollbar-width: none;
        }

        .product-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: var(--spacing-m, 32px);
          border-radius: var(--spacing-s2, 20px);
          position: relative;
          aspect-ratio: 1/1;

          @media (width<860px) {
            cursor: pointer;
          }

          .product-title {
            display: flex;
            justify-content: center;
            color: var(--color-primary-grey-10, #fff);
            text-align: center;
            font-size: var(--fontsize-title1, 24px);
            font-style: normal;
            font-weight: var(--fontweight-medium, 500);
            line-height: 1.2;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            -line-clamp: 2;
            height: var(--size-58);

            @media (width<860px) {
              font-size: var(--fontsize-title2, 20px);
              height: var(--size-52);
              line-height: 1.3%;
            }
          }

          .product-image {
            width: min(calc(220 / var(--breakpoint-pc) * 100vw), 220px);
            height: min(calc(178 / var(--breakpoint-pc) * 100vw), 178px);

            @media (width<860px) {
              width: calc(192 / var(--breakpoint-mobile) * 100vw);
              height: calc(132 / var(--breakpoint-mobile) * 100vw);
            }
          }

          .product-image img {
            width: min(calc(220 / var(--breakpoint-pc) * 100vw), 220px);
            height: min(calc(178 / var(--breakpoint-pc) * 100vw), 178px);
            transition:
              transform 0.5s cubic-bezier(0.35, 0, 0.36, 1),
              -webkit-transform 0.5s cubic-bezier(0.35, 0, 0.36, 1);

            @media (width<860px) {
              width: calc(192 / var(--breakpoint-mobile) * 100vw);
              height: calc(132 / var(--breakpoint-mobile) * 100vw);
            }
          }

          .buy-now-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: var(--size-40);
            padding: var(--spacing-4xs, 4px) var(--spacing-sm, 24px);
            border-radius: var(--size-100, 100px);
            background-color: transparent;
            visibility: hidden;
            position: absolute;
            bottom: 0;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
            transition:
              bottom cubic-bezier(0.35, 0, 0.36, 1) 0.5s,
              opacity linear 0.5s,
              visibility linear 0.5s,
              background-color linear 0.5s;
          }

          .buy-now-button a {
            text-decoration: none;
            color: var(--color-primary-grey-100, #000);
            background: transparent;
            margin: 0;
            font: var(--fontsize-body2, 14px);
            cursor: pointer;
            font-weight: var(--fontweight-medium, 500);
          }
        }

        .product-wrapper:hover .buy-now-button {
          @media (width >= 860px) {
            opacity: 1;
            visibility: visible;
            bottom: var(--spacing-m, 32px);
            background-color: var(--color-primary-grey-10, #fff);
          }
        }

        .product-wrapper:hover img {
          @media (width >= 860px) {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
